
@{
    ViewBag.Title = "Estatus Guias de Envio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Estatus Guias de Envio</h2>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div style="width:99%;">
            <table id="tblConsulta" class="display table table-striped table-bordered table-hover table-responsive-md expand dataTable no-footer ">
                <thead class="bg-danger-sor">
                    <tr>
                        @*<th name='accion'>Acción</th>
                        <th>Habilitado</th>
                        <th>Tipo Almacen</th>
                        <th>No. Almacen</th>
                        <th>Nombre Almacen</th>
                        <th>No. Proveedor</th>
                        <th>Nombre Proveedor</th>
                        <th>Dias transcurridos</th>
                        <th>Fecha Actulización</th>
                        <th name='accion'>No. Codigos</th>*@
                        @*<th>Impresión</th>*@
                        <th>Numero de consignacion</th>
                        @*<th>Consignacion de Reenvio</th>*@
                        <th>Tipo almacen</th>
                        <th>Fecha de creacion de la orden</th>
                        <th>Hora de creacion de la orden</th>
                        <th>Tipo de Guia</th>
                        <th>Paqueteria</th>
                        <th>Numero de Guia</th>
                        <th>Estatus de Guía</th>
                        <th>Fecha de entrega</th>
                        <th>Hora de entrega</th>
                        <th>Nombre de quien recibio</th>
                        @*<th></th>*@
                        @*<th name='accion'></th>*@
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>



@section scripts {
    <script>
        $(document).ready(function () {
            GetSuppliers();
        });

        function popDesHabilitar(noProveedor, noAlmacen) {
            $("#hddNoProveedor").val(noProveedor);
            $("#HddNoAlmacen").val(noAlmacen);
            $("#dlgDesHabilitar").modal('toggle');
        }

        @*function PopInv(noProveedor, noAlmacen){

           $("#dlgInventarios").modal('toggle');


            $.ajax({
                async: false,
                type: "POST",
                url: '@Url.Action("GetSuppliersWHStock", "almacenes")',
                data: {
                    idSupplierWH: noProveedor,
                    idSupplierWHCode: noAlmacen
                },

                datatype: "json",
                success: function (json) {
                    if (json.Success) {
                        $('#tblInventarios tbody').empty();
                        var tr;
                        debugger;
                        Append each row to html table

                        for (var i = 0; i < json.resp.length; i++) {
                            tr = $('<tr/>');

                            tr.append("<td>" + json.resp[i].idOwner + "</td>");
                            tr.append("<td>" + json.resp[i].ProductSKU + "</td>");
                            tr.append("<td>" + json.resp[i].barCode + "</td>");
                            tr.append("<td>" + json.resp[i].productName + "</td>");
                            tr.append("<td>" + json.resp[i].productCategoryId + "</td>");
                            tr.append("<td>" + json.resp[i].qtyStockSafety + "</td>");
                            tr.append("<td>" + json.resp[i].qtyStockForSale + "</td>");
                            tr.append("<td>" + json.resp[i].qtyStockReserved + "</td>");
                            tr.append("<td>" + json.resp[i].dimmensionLarge + "</td>");
                            tr.append("<td>" + json.resp[i].dimmensionHeight + "</td>");
                            tr.append("<td>" + json.resp[i].dimmensionWeightVol + "</td>");
                            tr.append("<td>" + json.resp[i].dimmensionWeightReal + "</td>");

                            tr.append("<td>" + json.resp[i].productStatus + "</td>");
                            tr.append("<td>" + json.resp[i].productMaterialCost + "</td>");
                            tr.append("<td>" + json.resp[i].productCreationDate + "</td>");
                            tr.append("<td>" + json.resp[i].idSupplierOrigin + "</td>");
                            tr.append("<td>" + json.resp[i].idSupplierOriginName + "</td>");

                            
                                        <th>idOwner</th>
                                        <th>ProductSKU</th>
                                        <th>barCode</th>
                                        <th>productName</th>
                                        <th>productCategoryId</th>
                                        <th>qtyStockSafety</th>
                                        <th>qtyStockForSale</th>
                                        <th>qtyStockReserved</th>
                                        <th>dimmensionLarge</th>
                                        <th>dimmensionHeight</th>
                                        <th>dimmensionWeightVol</th>
                                        <th>dimmensionWeightReal</th>
                                        <th>productStatus</th>
                                        <th>productMaterialCost</th>
                                        <th>productCreationDate</th>
                                        <th>idSupplierOrigin</th>
                                        <th>idSupplierOriginName</th>
                                        
                            $('#tblInventarios').append(tr);
                        }
                    }
                    else {
                        alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                    alert("errorThrown");
                }

            });
        }*@
        function GetSuppliers() {

            //var _Id_Num_UN = $("#hddTda").val();

            debugger;

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("Getestatusreenvioenviomcia", "Estatus_guia_envio")',
                data: {
                    //  Id_Num_UN: _Id_Num_UN
                },

                datatype: "json",
                success: function (json) {
                    if (json.Success) {

                        $('#tblConsulta tbody').empty();
                        //var tr;
                        debugger;
                        //Append each row to html table

                        for (var i = 0; i < json.resp.length; i++) {
                            tr = $('<tr/>');
                            tr.append("<td>" + json.resp[i].Consignacion + "</td>");
                            //tr.append("<td>" + json.resp[i].consignacionReenvio + "</td>");
                            tr.append("<td>" + json.resp[i].TipoAlmacen + "</td>");
                            tr.append("<td>" + json.resp[i].FechaOrden + "</td>");
                            tr.append("<td>" + json.resp[i].HoraOrden + "</td>");
                            tr.append("<td>" + json.resp[i].TipoGuia + "</td>");
                            tr.append("<td>" + json.resp[i].Paqueteria + "</td>");
                            tr.append("<td>" + json.resp[i].GuiaNro + "</td>");
                            tr.append("<td>" + json.resp[i].GuiaStatus + "</td>");
                            tr.append("<td>" + json.resp[i].FechaEntrega + "</td>");
                            tr.append("<td>" + json.resp[i].HoraEntrega + "</td>");
                            tr.append("<td>" + json.resp[i].QuienRecibio + "</td>");

                            //tr.append("<td><button type='button' title='Click para ver el inventario' onclick='PopInv(" + json.resp[i].noProveedor + "," + json.resp[i].noAlmacen + ")'  class='btn btn-warning btn-circle'> <i class='fa fa-tasks'></i></button></td >");
                            //AltaProveedor/AltaProveedor


                            $('#tblConsulta').append(tr);
                        }

                    }
                
                    else {
                        alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    //bootbox.alert(errorThrown);
                    alert("errorThrown");
                }

            });

        }


    </script>
    @*CONFIGURACION DE TABLAS, FILTROS, BOTONES DE EXPORT*@
    <script>
        $(document).ready(function () {
            $('#tblConsulta thead tr').clone(true).appendTo('#tblConsulta thead');
            $('#tblConsulta thead tr:eq(1) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });

            table = $("#tblConsulta").DataTable(
                {
                    dom: "<'row'<'col col-xs-6'B><'#topRightSection.col-xs-12 col-md-6 text-right' f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'lp>>",
                    processing: true,
                    searching: true,
                    ordering: true,
                    order: [[1, 'asc']],
                    filter: true,
                    info: false,
                    stateSave: false,
                    select: false,
                    select: {
                        style: 'single'
                    },
                    //Paggin

                    paging: true,
                    pageLength: 10,
                    lengthMenu: [10, 25, 50, 100, 500],

                    // destroy: true, //destruye automaticamente la referencia a la tabla
                    //Ajax
                    //serverSide: true,
                    //bServerSide: true,
                    //sServerMethod: "GET",
                    buttons: ['csv', 'excel'],
                    orderCellsTop: false,
                    fixedHeader: {
                        header: true
                    },
                    "scrollX": true

                }
            );


            // 2° seccion
            $('#tblConsulta2 thead tr').clone(true).appendTo('#tblConsulta2 thead');
            $('#tblConsulta2 thead tr:eq(1) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });

            table = $("#tblConsulta2").DataTable(
                {
                    dom: "<'row'<'col col-xs-6'B><'#topRightSection.col-xs-12 col-md-6 text-right' f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'lp>>",
                    processing: true,
                    searching: true,
                    ordering: true,
                    order: [[1, 'asc']],
                    filter: true,
                    info: false,
                    stateSave: false,
                    select: false,
                    select: {
                        style: 'single'
                    },
                    //Paggin

                    paging: true,
                    pageLength: 10,
                    lengthMenu: [10, 25, 50, 100, 500],

                    // destroy: true, //destruye automaticamente la referencia a la tabla
                    //Ajax
                    //serverSide: true,
                    //bServerSide: true,
                    //sServerMethod: "GET",
                    buttons: ['csv', 'excel'],
                    orderCellsTop: false,
                    fixedHeader: {
                        header: true
                    },
                    "scrollX": true

                }
            );

        });
    </script>
}





