@using ServicesManagement.Web.Models.ProcesoSurtido;

<div class="modal inmodal fade" id="dlgReasigOrden" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header pt-3 pb-1">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Reasignar Orden</h4>
            </div>
            <div class="modal-body">
                <form id="frmCreateopReasignar">
                    <div class="row" id="divDdlReasigOrd">
                        <div class="col col-xs-12 col-md-12">
                            <div class="form-group">
                                <label>Reasignar a:</label>
                                <select id="ddlopReasignar" class="form-control">
                                    <option value="0">--Seleccione</option>
                                    <option value="2">DST</option>
                                    <option value="3">CEDIS</option>
                                    <option value="4">DSV</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="ReasignarOrd()">Aceptar</button>
            </div>
        </div>
    </div>
</div>
