
@{
    ViewBag.Title = "ManualesOperativos_CargaManual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight" style="padding-top: 0px;">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="ibox-content p-xl" style="padding-top: 0px;padding-bottom: 0px;">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 text-center">
                        <h2>Manuales Operativos</h2>
                    </div>
                </div>
                <div class="row" style="height:490px;">
                    <table style="width:100%;">
                        <tr>
                            <td style="text-align:left;padding-left:50px;">
                                <h2><i></i> Dirigido a:</h2>
                                <div class="col-sm-10">
                                    <select class="form-control m-b">
                                        <option disabled selected>Selecciona una opción</option>
                                        <option>DSV</option>
                                        <option>DST</option>
                                        <option>WMS</option>
                                    </select>

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:left;padding-left:50px;">
                                <h2><i></i> Examinar</h2>
                                <div class="col-sm-10"><input type="text" class="form-control"> Cargar Manual</div>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
