
@{
    ViewBag.Title = "Manuales Operativos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight" style="padding-top: 0px;">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="ibox-content p-xl" style="padding-top: 0px;padding-bottom: 0px;">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 text-center">
                        <h2>Manuales Operativos</h2>
                    </div>
                </div>
                <div class="row" style="height:490px;">
                    <table style="width:100%;">
                        <tr>
                            <td style="text-align:left;padding-left:50px;">
                                <h2><i class="fa fa-certificate"></i> Manual de Opercación</h2>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span> Procesos para surtir y enviar una orden</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:left;padding-left:50px;">
                                <h2><i class="fa fa-certificate"></i> Manual de Empaque</h2>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>Tipos de empaque que se deben utilizar para un adecuado envio</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:left;padding-left:50px;">
                                <h2><i class="fa fa-certificate"></i> Manual de Actulaización de Inventario</h2>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span> Pasos a seguir para mantener actualizado tu inventario en la página</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:left;padding-left:50px;">
                                <h2><i class="fa fa-certificate"></i> Manual Actualizacion de Contenido</h2>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span> Pasos a seguir para actualizar el contenido de un producto</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

