@{
    ViewBag.Title = "RenviodeMercancia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section script
<script>
}{
            function Exportar() {
                var tab_text = "
                    < meta charset = 'UTF-8' >
                        <table border='2px'>
                            <tr bgcolor='#87AFC6'>
                                ";
                                var textRange; var j = 0;
                                tab = document.getElementById('tablaPresupuesto'); // id of table

                for (j = 0; j < tab.rows.length; {
                //tab_text = tab_text + tab.rows[j].innerHTML + "
            </tr>";
            for (var c = 0; c < tab.rows[{
            var cell = tab.rows[j].cells[c].outerHTML;
            if (cell.indexOf("footertotal") > 0)
            tab_text += "
            <tr bgcolor='#87AFC6' style='font-weight: bold;'>
                                ";
                if (cell.indexOf("noexport") < 0)
                tab_text += cell;
                }
                tab_text += "
            </tr>";
            }

            tab_text = tab_text + "
        </table>";
                tab_text = tab_text.replace(/<A[^>
            ]*>|<\ /A>
                / g, "");//remove if u want links in your table
                tab_text = tab_text.replace(/<img[^>
                    ]*> /gi, ""); / / remove if u want images in your table
                tab_text = tab_text.replace(/<input[^>
                        ]*>|<\ /input>
                / gi, ""); // reomves input params

                var template = '
                    < html xmlns: o = "urn:schemas-microsoft-com:office:office" xmlns: x = "urn:schemas-microsoft-com:office:excel" xmlns = "http://www.w3.org/TR/REC-html40" >
                        <head>
                            <!--[if gte mso 9]><xml><x: <x: <x: <x: {worksheet}</x: <x: <x:DisplayGridlines/></x: WorksheetOptions></x: ExcelWorksheet ></x: ExcelWorksheets ></x: ExcelWorkbook ></xml >< ![endif]-- >
                            </head >
                    <body>
                        <table>{table}</table>
                    </body>
                        </html > ';
                var base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) };
                var format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) };
                var ctx = { worksheet: "" || 'Worksheet', table: tab_text };
                var str = base64(format(template, ctx));

                var blob = b64toBlob(str, "application/vnd.ms-excel");
                var blobUrl = URL.createObjectURL(blob);

                var ua = window.navigator.userAgent;
                var msie = ua.indexOf("MSIE ");

                if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
                {
                    window.navigator.msSaveOrOpenBlob(blob, 'Presupuesto.xls');
                }
                else    //other browser not tested on IE 11
                {
                    var a = document.createElement('a');
                    a.style.display = 'none';
                    a.href = blobUrl;
                    a.download = "Presupuesto.xls";
                    a.click();
                    //window.open(blobUrl);
                }
                console.log(blobUrl);
                window.URL.revokeObjectURL(blobUrl);
            };

            function b64toBlob(b64Data, contentType, sliceSize) {
                contentType = contentType || '';
                sliceSize = sliceSize || 512;

                var byteCharacters = atob(b64Data);
                var byteArrays = [];

                for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
                    var slice = byteCharacters.slice(offset, offset + sliceSize);

                    var byteNumbers = new Array(slice.length);
                    for (var i = 0; i < slice.length; i++) {
                        byteNumbers[i] = slice.charCodeAt(i);
                    }

                    var byteArray = new Uint8Array(byteNumbers);

                    byteArrays.push(byteArray);
                }

                var blob = new Blob(byteArrays, { type: contentType });
                return blob;
            };

</script>
                    }




<style id="compiled-css" type="text/css">


    h2 {
        color: #263EEA;
        text-align: center;
        font-weight: bold;
    }
    /* Fix table head */
    .tableFixHead {
        overflow-y: auto;
        height: 300px;
    }



        .tableFixHead th {
            position: sticky;
            top: 0;
        }



    /* Just common table stuff. */
    table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        word-wrap: break-word;
    }



    th, td {
        padding: 8px 16px;
    }




    th {
        background: #D52B1E;
        color: #ffffff;
        font-weight: bold;
        text-align: center;
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading" style="padding-top:5px;padding-bottom:10px;">
    <div class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="fixed_header dataTables_wrapper dt-bootstrap4 no-footer">
            <h2>Reenvío de mercancía</h2>


            <div class="row">
                <div class="col-sm-12">
                    <div id="tblOrdenes" class="tableFixHead table-responsive m-t">
                        <table class="table invoice-table">
                            <thead>
                                <tr>
                                    <th>Numero de Orden</th>
                                    <th>Fecha y hora de creacion de la orden</th>
                                    <th>Solicitud RMA</th>
                                    <th>Motivo RMA</th>
                                    <th>Paqueteria</th>
                                    <th>Numero de la guia de devolucion</th>
                                    <th>Estatus de Guía de devolucion</th>
                                    <th>Fecha de entrega al almacen</th>
                                    <th>Recibido por</th>
                                    <th>Recibido por</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><u>7654234</u></td>
                                    <td> 28-Ene-21</td>
                                    <td>
                                        Susana Vargas Miranda
                                    </td>
                                    <td>
                                        En espera de Recoleccion
                                    </td>
                                    <td>
                                        45627345678982300000
                                    </td>
                                    <td>En transito</td>
                                    <td>
                                        123456543212345
                                    </td>
                                    <td>En Almacen</td>
                                    <td>5678909876543</td>
                                    <td>Pagada en</td>

                                </tr>
                                <tr>
                                    <td><u>7654234</u></td>
                                    <td> 3-Mar-21</td>
                                    <td>
                                        Susana Vargas Miranda
                                    </td>
                                    <td>
                                        En espera de Recoleccion
                                    </td>
                                    <td>
                                        45627345678982300000
                                    </td>
                                    <td>En transito</td>
                                    <td>
                                        123456543212345
                                    </td>
                                    <td>Entregado</td>
                                    <td>5678909876543</td>
                                    <td>Programacion de pago</td>
                                </tr>

                            </tbody>
                        </table>



                    </div>
                    <div class="row">
                        <table>
                            <tr>
                                <td> </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><a href="" id="btnAceptConsig" class="btn btn-primary block full-width m-b" download="C:\Users\ADMIN\Documents\prueba\Revision_EnvioPOS_V02.xls">Descargar Excel</a> </td>


                            </tr>

                        </table>
                    </div>
                </div>





            </div>
        </div>
    </div>

    @section scripts {
        <script>
            $(document).ready(function () {
                $("#txtFiltro").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#tblOrdenes tbody tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });

            });


        </script>
    }
