<div class="modal inmodal fade" id="dlgDetalle" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header pt-3 pb-1">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Devolución 76859403</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tableFixHead table-responsive m-t">
                            <table class="table invoice-table">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;">RMA</th>
                                        <th style="text-align:center;">ID</th>
                                        <th style="text-align:center;">Descripción</th>
                                        <th style="text-align:center;">Piezas</th>
                                        <th style="text-align:center;">No. Guía Devolución</th>
                                        <th style="text-align:center;">Condiciones del Paquete</th>
                                        <th style="text-align:center;">Recibo</th>
                                        <th style="text-align:center;">EAN/Codigo de barras</th>
                                        <th style="text-align:center;">Motivo de no Recoleccón</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align:left;">1234567</td>
                                        <td style="text-align:left;">00065754</td>
                                        <td style="text-align:left;">Calefactor</td>
                                        <td style="text-align:left;">1</td>
                                        <td style="text-align:left;">4562734567898230000000</td>
                                        <td style="text-align:left;">Dañado</td>
                                        <td></td>
                                        <td>-</td>
                                        <td>Por daño</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left;">1234567</td>
                                        <td style="text-align:left;">00065754</td>
                                        <td style="text-align:left;">Calefactor</td>
                                        <td style="text-align:left;">1</td>
                                        <td style="text-align:left;">4562734567898230000000</td>
                                        <td style="text-align:left;">Dañado</td>
                                        <td></td>
                                        <td>-</td>
                                        <td>Por daño</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left;">1234567</td>
                                        <td style="text-align:left;">00065754</td>
                                        <td style="text-align:left;">Calefactor</td>
                                        <td style="text-align:left;">1</td>
                                        <td style="text-align:left;">4562734567898230000000</td>
                                        <td style="text-align:left;">Dañado</td>
                                        <td></td>
                                        <td>-</td>
                                        <td>Por daño</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left;">1234567</td>
                                        <td style="text-align:left;">00065754</td>
                                        <td style="text-align:left;">Calefactor</td>
                                        <td style="text-align:left;">1</td>
                                        <td style="text-align:left;">4562734567898230000000</td>
                                        <td style="text-align:left;">Dañado</td>
                                        <td></td>
                                        <td>-</td>
                                        <td>Por daño</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-w-m btn-warning" data-dismiss="modal">Descargar</button>
                <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
                @*<button type="button" class="btn btn-primary" onclick="ActualziaHora()">Guardar</button>*@
            </div>
        </div>
    </div>
</div>

@section scripts {



}
