
@{
    ViewBag.Title = "NiveldeServicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style id="compiled-css" type="text/css">

    h2 {
        color: #263EEA;
        text-align: center;
        font-weight: bold;
    }
    /* Fix table head */
    .tableFixHead {
        overflow-y: auto;
        height: 300px;
    }



        .tableFixHead th {
            position: sticky;
            top: 0;
        }



    /* Just common table stuff. */
    table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        word-wrap: break-word;
    }



    th, td {
        padding: 8px 16px;
    }




    th {
        background: #D52B1E;
        color: #ffffff;
        font-weight: bold;
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading" style="padding-top:5px;padding-bottom:10px;">
    <div class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="fixed_header dataTables_wrapper dt-bootstrap4 no-footer">
            <h2>Nivel de Servicio</h2>

            <div class="row">
                <div class="col col-xs-6">
                    <div class="dt-buttons btn-group flex-wrap">
                        @*<button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="tblConsulta" type="button"><span>Copy</span></button>*@
                        <button class="btn btn-secondary buttons-csv buttons-html5" tabindex="0" aria-controls="tblConsulta" type="button"><span>CSV</span></button>
                        <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="tblConsulta" type="button"><span>Excel</span></button>
                    </div>
                </div>
                <div id="topRightSection" class="col-xs-12 col-md-6 text-right ">
                </div>
            </div>
            <div class="row">

                <div class="col-sm-12">
                    <div id="tblOrdenes" class="tableFixHead table-responsive m-t">
                        <h3>Almacenes</h3>
                        <table class="table invoice-table">
                            <thead>
                                <tr>
                                    <th>Fecha de Inicio</th>
                                    <th>Fecha de Fin</th>
                                    <th>Tipo Almacen </th>
                                    <th>Total de Consignaciones</th>
                                    <th>Enviadas en Tiempo</th>
                                    <th>Enviadas fuera de Tiempo</th>
                                    <th>% Nivel de servicio enviadas en tiempo</th>
                                    <th>Total de Consignaciones</th>
                                    <th>Total de Cancelaciones</th>
                                    <th>Total de Ordenenes Reenviadas</th>
                                    <th>% de Reenvios</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><u></u></u></td>
                                    <td></td>
                                    <td>
                                        DST
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td></td>
                                    <td>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <td><u></u></u></td>
                                    <td></td>
                                    <td>
                                        DSV
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td></td>
                                    <td>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>

                                <tr>
                                    <td><u></u></u></td>
                                    <td></td>
                                    <td>
                                        CEDIS
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td></td>
                                    <td>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <button style="visibility:hidden;" float: right;" type="button" onclick="Exportar();" class="btn btn-w-m btn-warning">Descargar</button>
                    <button style="float: right;" type="button" class="btn btn-w-m btn-warning">Descargar</button>
                </div>
            </div>


            <div class="row">

            </div>
            <div class="row">
                <div class="col col-xs-6">
                    <div class="dt-buttons btn-group flex-wrap">
                        @*<button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="tblConsulta" type="button"><span>Copy</span></button>*@
                        <button class="btn btn-secondary buttons-csv buttons-html5" tabindex="0" aria-controls="tblConsulta" type="button"><span>CSV</span></button>
                        <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="tblConsulta" type="button"><span>Excel</span></button>
                    </div>
                </div>
                <div id="topRightSection" class="col-xs-12 col-md-6 text-right ">
                </div>
            </div>

            <div class="row">

                <div class="col-sm-12">
                    <div id="tblOrdenes" class="tableFixHead table-responsive m-t">
                        <h3>Transportista</h3>
                        <table class="table invoice-table">
                            <thead>
                                <tr>
                                    <th>Fecha de Inicio</th>
                                    <th>Fecha de Fin</th>
                                    <th>Tipo Almacen </th>
                                    <th>Tipo de Envio </th>
                                    <th>Total de Consignaciones</th>
                                    <th>Entregadas en Tiempo</th>
                                    <th>Entregadas fuera de Tiempo</th>
                                    <th>% Nivel de servicio entregadas en tiempo</th>
                                    <th>Total de Cancelaciones</th>
                                    <th>Total de Ordenenes en Aclaracion</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        DST
                                    </td>
                                    <td>
                                        Paqueteria
                                    </td>
                                    <td>
                                    </td>
                                    <td></td>
                                    <td>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        DSV
                                    </td>
                                    <td>
                                        Paqueteria
                                    </td>
                                    <td>
                                    </td>
                                    <td></td>
                                    <td>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>

                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        CEDIS
                                    </td>
                                    <td>
                                        Big Ticket
                                    </td>
                                    <td>
                                    </td>
                                    <td></td>
                                    <td>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>

                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        DST
                                    </td>
                                    <td>
                                        Big Ticket
                                    </td>
                                    <td>
                                    </td>
                                    <td></td>
                                    <td>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        DSV
                                    </td>
                                    <td>
                                        Express
                                    </td>
                                    <td>
                                    </td>
                                    <td></td>
                                    <td>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                </tr>



                            </tbody>
                        </table>
                    </div>
                    <button style="visibility:hidden;" float: right;" type="button" onclick="Exportar();" class="btn btn-w-m btn-warning">Descargar</button>
                    <button style="float: right;" type="button" class="btn btn-w-m btn-warning">Descargar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#txtFiltro").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#tblOrdenes tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

        });


    </script>
}


