@model IEnumerable<ServicesManagement.Web.Models.ShipmentPackingModel>

@{ Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Ordenes Procesados"; }
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title </h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/CPanel/Index">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>WMS Cedis</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Ordenes Procesados</strong>
            </li>
        </ol>
    </div>
</div>
<div id="tblConsulta_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
    <div class="row">
        <div class="col col-xs-6">
            @*<div class="dt-buttons btn-group flex-wrap">
                    <button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="tblConsulta" type="button"><span>Copy</span></button>
                    <button class="btn btn-secondary buttons-csv buttons-html5" tabindex="0" aria-controls="tblConsulta" type="button"><span>CSV</span></button>
                    <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="tblConsulta" type="button"><span>Excel</span></button>
                </div>*@
        </div>

        <!--<div id="topRightSection" class="col-xs-12 col-md-6 text-right ">

            <button type="button" class="btn btn-primary" onclick="SolicitudGuia()">-->
        @*data-toggle="modal" data-target="#dlgCreateServicios">*@
        <!--Solicitar Guia
            </button>
        </div>-->
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table id="tblConsulta" class="display table table-striped table-bordered table-hover table-responsive-md expand dataTable no-footer " role="grid" style="width: 1115px;">
                <thead class="bg-primary">
                    <tr role="row">
                        @*<th class="text-center sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1">Referencia</th>*@
                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1" colspan="1">Fecha de Creación de Consignación</th>
                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1" colspan="1">Cuenta</th>
                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1" colspan="1">Cantidad</th>
                        <th class="text-center sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1">Referencia 2</th>
                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1" colspan="1">Cliente</th>
                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1" colspan="1">Dirección 1</th>

                        @*<th class="text-center sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1">Dirección 2</th>*@
                        <th class="sorting" . tabindex="0" aria-controls="tblConsulta" rowspan="1" colspan="1">Colonia</th>
                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1" colspan="1">Población</th>
                        <th class="text-center sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1">Codigo Postal</th>
                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1" colspan="1">Telefono</th>
                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1" colspan="1">Contacto</th>
                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1" colspan="1">PK</th>
                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1" colspan="1">Guía de Rastreo (paquetería)</th>
                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1" colspan="1">Paquetería</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>

    </div>

</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @*<h4 class="modal-title">Modal Header</h4>*@
            </div>
            <div class="modal-body">

                @*<embed src="~/Content/Article List.pdf"
                    frameborder="0" width="100%" height="400px">*@

                <iframe id="viewrPDF" width="100%" height="400px" src=''></iframe>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

@Html.Partial("SolicitarGuia")

@section scripts {
    <script type="text/javascript">
        var _json = undefined;
        $(document).ready(function () {
            $('#tblConsulta thead tr').clone(true).appendTo('#tblConsulta thead');
            $('#tblConsulta thead tr:eq(0) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });

            table = $("#tblConsulta").DataTable(
                {
                    dom: "<'row'<'col col-xs-6'B><'#topRightSection.col-xs-12 col-md-6 text-right' f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'lp>>",
                    processing: true,
                    searching: true,
                    ordering: true,
                    order: [[1, 'asc']],
                    filter: true,
                    info: false,
                    stateSave: false,
                    //Paggin

                    paging: true,
                    pageLength: 10,
                    lengthMenu: [10, 25, 50, 100, 500],

                    // destroy: true, //destruye automaticamente la referencia a la tabla
                    //Ajax
                    //serverSide: true,
                    //bServerSide: true,
                    //sServerMethod: "GET",
                    buttons: ['csv', 'excel', {
                        text: 'Excel XLS',
                        action: function (e, dt, node, config) {

                            Excel();

                        }
                    }

                    ],
                    orderCellsTop: false,
                    //fixedHeader: {
                    //    header: true
                    //},
                    "scrollX": true

                }
            );

            Get();
        });
        function Excel() {

            window.location = window.location.origin + '/ShipmentRequestsWMS/Excel';
        }
        function showpdf(cnscOrder, cuenta) {
            debugger;
            var item = _json.find(x => x.CnscOrder == cnscOrder && x.Cuenta == cuenta);

            //alert(item.IdTrackingService);
            var num_guia = item.IdTrackingService;
            $.ajax({
            async: false,
            type: "POST",
            url: '@Url.Action("GetPdfGuia", "Ordenes")',
            data: {
            guia: num_guia
            },
            datatype: "html",
            success: function (json) {
            if (json.Success) {

            if (json.pdf != 'url')
                document.getElementById("viewrPDF").setAttribute('src', 'data:application/pdf; base64, ' + encodeURI(json.pdf));
            else
                document.getElementById("viewrPDF").setAttribute('src', json.url);

            $("#myModal").modal("show");

            }
            }
            , error: function (jqXHR, textStatus, errorThrown) {
            alert(errorThrown);

            }
            });

        }

        function ShowFilter() {
            $("#filter").collapse('toggle');
        };

        function Get() {

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetShipmentProcessedFromWMS", "ShipmentRequestsWMS")',
                data: {
                    //  Id_Num_UN: _Id_Num_UN
                },
                datatype: "html",
                success: function (json) {
                    if (json.Success) {
                        _json = json.json;
                        var myTableR = $('#tblConsulta').DataTable();
                        myTableR
                            .clear()
                            .draw();
                        for (var i = 0; i < json.json.length; i++) {
                            myTableR.row.add([
                                 json.json[i].FechaConsignacion,
                                 json.json[i].Cuenta,
                                 json.json[i].cantidad,
                                 json.json[i].referencia2,
                                 json.json[i].siglasCliente,
                                 json.json[i].direccion,
                                 json.json[i].colonia,
                                 json.json[i].poblacion,
                                 json.json[i].codigoPostal,
                                 json.json[i].telefono,
                                 json.json[i].contacto,
                                 json.json[i].ucc,
                                 json.json[i].IdTrackingService == '--' ? ''
                                     : "<a onclick='showpdf(" + json.json[i].CnscOrder + "," + json.json[i].Cuenta + "); return false;'  style='width:180px;'  title='Click para ver el pdf de la guía' class='btn btn-link'>" + json.json[i].IdTrackingService + "</a>",
                                 json.json[i].TrackingServiceName
                            ]).draw();

                        }

                        //$("#tblConsulta tbody").remove();
                        ////var tr;
                        //_json = json.json;
                        //console.log(json);
                        ////Append each row to html table
                        //for (var i = 0; i < json.json.length; i++) {
                        //    tr = $('<tr/>');
                        //    //tr.append("<td class='row1'>" + json.json[i].Id_Num_Orden + "</td>");
                        //    tr.append("<td>" + json.json[i].FechaConsignacion + "</td>");
                        //    tr.append("<td>" + json.json[i].Cuenta + "</td>");
                        //    tr.append("<td>" + json.json[i].cantidad + "</td>");
                        //    tr.append("<td>" + json.json[i].referencia2 + "</td>");
                        //    tr.append("<td>" + json.json[i].siglasCliente + "</td>");
                        //    tr.append("<td>" + json.json[i].direccion + "</td>");
                        //    tr.append("<td>" + json.json[i].colonia + "</td>");
                        //    tr.append("<td>" + json.json[i].poblacion + "</td>");

                        //    tr.append("<td>" + json.json[i].codigoPostal + "</td>");
                        //    tr.append("<td>" + json.json[i].telefono + "</td>");
                        //    tr.append("<td>" + json.json[i].contacto + "</td>");
                        //    tr.append("<td>" + json.json[i].ucc + "</td>");
                        //    if (json.json[i].IdTrackingService == '--')
                        //        tr.append("<td></td>");
                        //    else
                        //        tr.append("<td><a onclick='showpdf(" + json.json[i].CnscOrder + "," + json.json[i].Cuenta + "); return false;'  style='width:180px;'  title='Click para ver el pdf de la guía' class='btn btn-link'>" + json.json[i].IdTrackingService + "</a></td>");
                        //    tr.append("<td>" + json.json[i].TrackingServiceName + "</td>");

                        //    $('#tblConsulta').append(tr);

                        //}
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert(errorThrown);
                }
            });
        }

        $('#dlgCreateServicios').on('show.bs.modal', function (e) {
            //LimpiaModal();
            //Disabled();
        });

    </script>

}
