<div class="modal inmodal fade" id="dlgCreateServicios" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="width: 900px">
            <div class="modal-header pt-3 pb-1">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Solicitar Guia</h4>
            </div>
            <div class="modal-body">
             
                    <div class="row">
                        <div class="col col-xs-12 col-md-12"  style="width: 880px">
                            <table id="tblSolicitud" class="display table table-striped table-bordered table-hover table-responsive" role="grid">
                                <thead class="bg-primary">
                                    <tr>
                                        @*<th class="text-center sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1">Referencia</th>*@
                                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1" width="100px" colspan="1">Referencia</th>
                                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1" width="100px" colspan="1">PK</th>
                                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" width="100px" rowspan="1">Tipo de Empaque</th>
                                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" width="60px" rowspan="1" colspan="1">Porcentaje</th>
                                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" width="50px" rowspan="1" colspan="1">Ancho</th>

                                        @*<th class="text-center sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1">Dirección 2</th>*@
                                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1"  colspan="1">Largo</th>
                                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1" colspan="1">Alto</th>
                                        <th class="sorting" tabindex="0" aria-controls="tblConsulta" rowspan="1" colspan="1">Peso</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>
             
             

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
                @*<button type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>*@
                <button type="button" onclick="Confirmar()" class="btn btn-primary">Solicitar</button>
            </div>
        </div>
    </div>
</div>
