
@{
    ViewBag.Title = "Actualizaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight" style="padding-top: 0px;">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="ibox-content p-xl" style="padding-top: 0px;padding-bottom: 0px;">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 text-center">
                        <h2>Actualizaciones</h2>
                    </div>
                </div>
                <div class="row" style="height:490px;">
                    <table style="width:100%;padding-top:50px;">
                        <!-- cambio -->
                        <tr> 
                            <td></td>
                            <td style="text-align:center;padding-left:50px;">
                                <h3> Actualizacion de Inventario</h3><br />
                                <br />
                                <img src="~/Content/images/theme/folder.png" style="width:140px;height:110px;" />
                                <br />
                                <span>
                                    Cargar inventario
                                </span>
                            </td>
                            <td style="text-align:center;padding-left:50px;">
                                <h3> Actualizacion de Contenido</h3><br />
                                <img src="~/Content/images/theme/folder.png" style="width:140px;height:110px;" />
                                <br />
                                <span>
                                    Actualizar contenido
                                </span>
                            </td>
                            <td></td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

