
@{
    ViewBag.Title = "Actualizaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight" style="padding-top: 0px;">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="ibox-content p-xl" style="padding-top: 0px;padding-bottom: 0px;">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 text-center">
                        <h2>Actualizaciones</h2>
                    </div>
                </div>
                <div class="row" style="height:490px;">
                    <table style="width:100%;padding-top:50px;">
                        <!-- cambio -->
                        <tr>
                            <td></td>
                            <td style="text-align:center;padding-left:50px;">
                                <h3> Actualizacion de Inventario</h3><br />
                                <br />
                                <img src="~/Content/images/theme/folder.png" style="width:140px;height:110px;" />
                                <br />
                                <span>
                                    Cargar inventario
                                </span>
                                <br />
                                <input name="docInv" id="docInv" type="file" accept=".csv" img src="~/Content/images/theme/folder.png" style="width:240px;height:110px;" runat="server" />
                                <output type="hidden" id="docInvout" />
                                <br />
                            </td>
                            <td style="text-align:center;padding-left:50px;">
                                <a id="txtAviso" name="txtAviso" onclick="popUpShowPDF(1)"
                                   title="Click para ver plantilla de Inventario del Proveedor" class="link"><u>Plantilla para carga de inventario</u></a>
                                <br />
                            </td>
                            <td></td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $('#docInv').on('change', function () {
            var fileReader = new FileReader();
            fileReader.onload = function () {
                document.getElementById('docInvout').innerHTML = fileReader.result; // data <-- in this var you have the file data in Base64 format
                var fileExcel = document.getElementById('docInvout').innerHTML.split(",");
                var elemExcel = document.getElementById('docInvout').innerHTML.split(",").length;
                var HeaderProv = fileExcel[1];
                var TrailerProv = fileExcel[elemExcel - 5];

                if (HeaderProv != TrailerProv) {
                    alert("Los campos Proveedor no coinciden!");
                    return;
                }
                var HeaderAlm = fileExcel[2];
                var TrailerAlm = fileExcel[elemExcel - 4];
                if (HeaderAlm != TrailerAlm) {
                    alert("Los campos Almacen no coinciden!");
                    return;
                }
                var HeaderFec = fileExcel[3];
                var TrailerFec = fileExcel[elemExcel - 3];
                if (HeaderFec != TrailerFec) {
                    alert("Los campos Fecha no coinciden!");
                    return;
                }
                var sumDisp = 0;
                var totCod = 0;
                for (var i = 7; i + 9 <= fileExcel.length; i = i + 5) {
                    sumDisp = sumDisp + parseInt(fileExcel[i]);
                    totCod += 1;
                }
                var TrailerTotCod = fileExcel[elemExcel - 2];
                if (totCod != TrailerTotCod) {
                    alert("No coincide el Total de Códigos!");
                    return;
                }
                var TrailerSum = fileExcel[elemExcel - 1];
                if (sumDisp != TrailerSum) {
                    alert("No coincide el Total Disponible!");
                    return;
                }

                $.ajax({
                    async: false,
                    type: "GET",
                    url: '@Url.Action("InsertaArchivo", "Actualizaciones")',
                    data: {
                        ArchivoCSV: document.getElementById('docInvout').innerHTML
                    },
                    datatype: "html",
                    success: function (json) {
                        debugger;
                        if (json.Success) {
                            $("#docInvout").val("");
                            alert(json.resp);
                            location.reload();
                        }
                        else {
                            alert(json.Message);
                        }
                    }
                    , error: function (jqXHR, textStatus, errorThrown) {
                        alert(jqXHR.responseText);
                        location.reload();
                    }

                });
            };
            fileReader.readAsText($('#docInv').prop('files')[0]);
            console.log(fileReader);
        });

        function popUpShowPDF(txtValor) {
            var url2 = '@Url.Content("~/").ToString()' + "Files/DSV Macro v1.41.xlsm";
            window.open(url2);
        }

    </script>
}