<div class="modal inmodal fade" id="dlgDetalle" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header pt-3 pb-1">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Consignacion 7654234</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tableFixHead table-responsive m-t">
                            <table class="table invoice-table">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;">Numero Almacen</th>
                                        <th style="text-align:center;">Nombre Almacen</th>
                                        <th style="text-align:center;">EAN/Código de barras</th>
                                       

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align:center;">5688</td>
                                        <td style="text-align:center;">Cedis Mexico</td>
                                        <td style="text-align:center;"> - </td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary" onclick="ActualziaHora()">Guardar</button>*@
            </div>
        </div>
    </div>
</div>

@section scripts {



}
