

@{
    ViewBag.Title = "Reenvio de Pedidos Pendientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reenvio de Pedidos Pendientes</h2>
<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <div class="form-group">
            <label>Fecha Inicio</label>
            @*<input type="date" id="txtFecIniTarifa" class="form-control" />*@
            <div class="input-group date" id="datetimepicker1">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input class="form-control datepicker" id="txtFecIni"
                       type="text" value="@ViewBag.FecIni">
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <label>Fecha Fin</label>
        @*<input type="date" id="txtFecIniTarifa" class="form-control" />*@
        <div class="input-group date" id="datetimepicker2">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input class="form-control datepicker" id="txtFecFin"
                   type="text" value="@ViewBag.FecFin">
        </div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2" style="vertical-align:bottom;">
        <label>&nbsp;</label>
        <button class="btn btn-lg btn-block btn-primary mt-auto" type="submit" onclick="GetSuppliers()">
            Buscar
        </button>

    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div style="width:99%;">
            <table id="tblConsulta" class="display table table-striped table-bordered table-hover table-responsive-md expand dataTable no-footer ">
                <thead class="bg-danger-sor">
                    <tr>
                        <th>Pedido de reenvio/sustituto/cambio fisico</th>
                        <th>Numero de consignacion</th>
                        @*<th>Tipo almacen</th>
                        <th>Fecha de creacion de la orden</th>
                        <th>Hora de creacion de la orden</th>*@
                        <th>Nombre del Cliente</th>
                        <th>Estatus del Pedido Surtido</th>
                        <th>Estatus del Pedido Envio</th>
                        <th>Numero de Orden de Compra (DSV)</th>
                        <th>Estatus de Orden de Compra (DSV)</th>
                        <th>Numero de Guia</th>
                        <th>Vigencia de la Guia</th>
                        <th>Motivo del Reenvio</th>
                        <th>Fecha Recolección</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="detalleconsignacion" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header pt-3 pb-1">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Detalle Pedido </h4>
            </div>
            <div class="modal-body">
                <form id="frmCreateServicios">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <table id="tblInventarios" class="display table table-striped table-bordered table-hover table-responsive-md expand dataTable no-footer " role="grid" style="width: 555px;">
                                <thead class="bg-danger-sor">
                                    <tr>
                                        <th>RMA</th>
                                        <th>Motivo RMA</th>
                                        <th>ID</th>
                                        <th>EAN/Codigo de Barras</th>
                                        <th>Descripcion</th>
                                        <th>Piezas</th>
                                        <th>Numero de la Guia de Devolucion</th>
                                        <th>Condicion del Empaque</th>
                                        <th>Guia del reenvio</th>
                                        <th>Estatus de guia de reenvio</th>
                                        <th>Fecha de entrega </th>
                                        <th>Hora de entrega </th>
                                        <th>Nombre de quien recibe</th>

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                @*<button type="button" onclick="Save()" class="btn btn-primary">Guardar</button>*@
                @*<button type="button" onclick="addSurtidores()" class="btn btn-primary" data-dismiss="modal">Guardar</button>*@
            </div>
        </div>
    </div>
</div>



@section scripts {
    <script>
        $(function () {
            $('#datetimepicker1').datetimepicker({
                locale: 'es'
                , format: "yyyy/MM/DD"
            });
            $('#datetimepicker2').datetimepicker({
                locale: 'es'
                , format: "yyyy/MM/DD"
            });

        });
        function popDesHabilitar(noProveedor, noAlmacen) {
            $("#hddNoProveedor").val(noProveedor);
            $("#HddNoAlmacen").val(noAlmacen);
            $("#dlgDesHabilitar").modal('toggle');
        }

        function PopDetlleC(Consignacion){

            $("#detalleconsignacion").modal('toggle');
            /*$("#Consignacion").val(Consignacion);*/

            $.ajax({
                async: false,
                type: "POST",
                url: '@Url.Action("GetDetalleConsignacionDSV", "EstatusReenvioMcia")',
                data: {
                    consignacion: Consignacion
                },

                datatype: "json",
                success: function (json) {
                    if (json.Success) {
                        $('#tblInventarios tbody').empty();
                        //var tr;
                        debugger;
                        //Append each row to html table

                        for (var i = 0; i < json.resp.length; i++) {
                            tr = $('<tr/>');

                            tr.append("<td>" + json.resp[i].RMA + "</td>");
                            tr.append("<td>" + json.resp[i].MotivoRMA + "</td>");
                            tr.append("<td>" + json.resp[i].EAN + "</td>");
                            tr.append("<td>" + json.resp[i].ID + "</td>");
                            tr.append("<td>" + json.resp[i].Descripcion + "</td>");
                            tr.append("<td>" + json.resp[i].Piezas + "</td>");
                            tr.append("<td>" + json.resp[i].GuiaDevol + "</td>");
                            tr.append("<td>" + json.resp[i].PaqueteCondiciones + "</td>");
                            tr.append("<td>" + json.resp[i].GuiaReenvio + "</td>");
                            tr.append("<td>" + json.resp[i].GuiaStatus + "</td>");
                            tr.append("<td>" + json.resp[i].FechaEntrega + "</td>");
                            tr.append("<td>" + json.resp[i].HoraEntrega + "</td>");
                            tr.append("<td>" + json.resp[i].QuienRecibio + "</td>");

                            $('#tblInventarios').append(tr);
                        }
                    }
                    else {
                        alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    //bootbox.alert(errorThrown);
                    alert("errorThrown");
                }

            });
        }
        function GetSuppliers() {

            var _FecIni = $("#txtFecIni").val();
            var _FecFin = $("#txtFecFin").val();

            if (_FecIni.length == 0) {
                $("#txtFecIni").focus();
                return;
            }


            if (_FecFin.length == 0) {
                $("#txtFecFin").focus();
                return;
            }

            debugger;

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetreenviomciaDSV", "EstatusReenvioMcia")',
                data: {
                    FecIni: _FecIni,
                    FecFin: _FecFin
                },

                datatype: "json",
                success: function (json) {
                    if (json.Success) {
                        var myTable = $('#tblConsulta').DataTable();
                        myTable
                            .clear()
                            .draw();

                        myTable.row.add([
                            "<a href='ProcesoReenvioMcia/ProcesoReenvioMcia?OrderNo=" + json.resp[i].OrderNo + "&UeNo=" + json.resp[i].ConsignacionReenvio + "' title='Click para ir al proveedor' class='link-primary' ><u>" + json.resp[i].ConsignacionReenvio + "</u>",
                            "<a title='Click para ver el detalle' class='link-primary' onclick='PopDetlleC(" + + json.resp[i].Consignacion + ")'>" + json.resp[i].Consignacion + "</a>",
                            json.resp[i].Cliente,
                            json.resp[i].EstatusPedidoSurtido,
                            json.resp[i].EstatusPedidoEnvio,
                            json.resp[i].OrdenDSV,
                            json.resp[i].OrdenDSVStatus,
                            json.resp[i].GuiaReenvioNro,
                            json.resp[i].GuiaVig,
                            json.resp[i].MotivoReenvio,
                            json.resp[i].FechaEntrega,

                        ]).draw(); 

                    }
                    else {
                        alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    //bootbox.alert(errorThrown);
                    alert("errorThrown");
                }

            });

        }


       

    </script>
    @*CONFIGURACION DE TABLAS, FILTROS, BOTONES DE EXPORT*@
    <script>
        $(document).ready(function () {
            $('#tblConsulta thead tr').clone(true).appendTo('#tblConsulta thead');
            $('#tblConsulta thead tr:eq(0) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });

            table = $("#tblConsulta").DataTable(
                {
                    dom: "<'row'<'col col-xs-6'B><'#topRightSection.col-xs-12 col-md-6 text-right' f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'lp>>",
                    processing: true,
                    searching: true,
                    ordering: true,
                    order: [[1, 'asc']],
                    filter: true,
                    info: false,
                    stateSave: false,
                    select: false,
                    select: {
                        style: 'single'
                    },
                    //Paggin

                    paging: true,
                    pageLength: 10,
                    lengthMenu: [10, 25, 50, 100, 500],

                    // destroy: true, //destruye automaticamente la referencia a la tabla
                    //Ajax
                    //serverSide: true,
                    //bServerSide: true,
                    //sServerMethod: "GET",
                    buttons: ['csv', 'excel'],
                    orderCellsTop: false,
                    fixedHeader: {
                        header: true
                    },
                    "scrollX": true

                }
            );


            // 2° seccion
            $('#tblConsulta2 thead tr').clone(true).appendTo('#tblConsulta2 thead');
            $('#tblConsulta2 thead tr:eq(0) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });

            table = $("#tblConsulta2").DataTable(
                {
                    dom: "<'row'<'col col-xs-6'B><'#topRightSection.col-xs-12 col-md-6 text-right' f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'lp>>",
                    processing: true,
                    searching: true,
                    ordering: true,
                    order: [[1, 'asc']],
                    filter: true,
                    info: false,
                    stateSave: false,
                    select: false,
                    select: {
                        style: 'single'
                    },
                    //Paggin

                    paging: true,
                    pageLength: 10,
                    lengthMenu: [10, 25, 50, 100, 500],

                    // destroy: true, //destruye automaticamente la referencia a la tabla
                    //Ajax
                    //serverSide: true,
                    //bServerSide: true,
                    //sServerMethod: "GET",
                    buttons: ['csv', 'excel'],
                    orderCellsTop: false,
                    fixedHeader: {
                        header: true
                    },
                    "scrollX": true

                }
            );

            GetSuppliers();
        });
    </script>
}


@*@Html.Partial("DetalleEstatusReenvioMcia")
    @section scripts {
        <script>
            $(document).ready(function () {
                $("#txtFiltro").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#tblOrdenes tbody tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });

            });
            function popDetalle() {
                $('#dlgDetalle').modal('toggle');
            }


            $('th').click(function () {
                var table = $(this).parents('table').eq(0)
               // var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
                this.asc = !this.asc
                //if (!this.asc) {
                //    rows = rows.reverse()
                //}
                //for (var i = 0; i < rows.length; i++) {
                //    table.append(rows[i])
                //}
                setIcon($(this), this.asc);
            })
            function setIcon(element, asc) {
                $("th").each(function (index) {
                    $(this).removeClass("sorting");
                    $(this).removeClass("asc");
                    $(this).removeClass("desc");
                });
                element.addClass("sorting");
                if (asc) element.addClass("asc");
                else element.addClass("desc");
            }

        </script>
    }*@


