@header
<div style="min-width: 600px; width: 72.5%; margin: 0 auto 16px; min-height: 400px; color: #666666;">
    <p style="font-size: 25px; letter-spacing: 0px;">
        <span style="font-size: 26px; font-weight: bold; letter-spacing: 0px; margin: 0 6px 20px 0;">¡Hola @customer_first_name,</span>
        <span style="font-size: 19px;  margin: 0 6px 20px 0;">Gracias por su prefrerencia</span>
        <br>
        <br>
        <span style="font-size: 19px;  margin: 0 6px 20px 0;">
            <b>Hemos recibido</b> tu pago en tienda <font color="BBBE2F">@numero_tienda @nombre_tienda </font> por la cantidad de <font color="BBBE2F">@total</font> <br>
            para el pedido <font color="BBBE2F">@pedido </font>
        </span>
        <br><br><br>
        <style type="text/css">
            .tg {
                border-collapse: collapse;
                border-spacing: 0;
            }

                .tg td {
                    border-color: black;
                    border-style: solid;
                    border-width: 1px;
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    overflow: hidden;
                    padding: 10px 5px;
                    word-break: normal;
                }

                .tg th {
                    border-color: black;
                    border-style: solid;
                    border-width: 1px;
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    font-weight: normal;
                    overflow: hidden;
                    padding: 10px 5px;
                    word-break: normal;
                }

                .tg .tg-zv4m {
                    border-color: #ffffff;
                    text-align: left;
                    vertical-align: top
                }

                .tg .tg-t0vf {
                    border-color: #ffffff;
                    font-size: 100%;
                    text-align: left;
                    vertical-align: top
                }

                .tg .tg-8s30 {
                    background-color: #efefef;
                    border-color: #efefef;
                    color: #c0c0c0;
                    text-align: left;
                    vertical-align: top
                }

                .tg .tg-fkgn {
                    background-color: #efefef;
                    border-color: #efefef;
                    text-align: left;
                    vertical-align: top
                }

            .tg {
                border-collapse: collapse;
                border-spacing: 0;
            }

                .tg td {
                    border-color: black;
                    border-style: solid;
                    border-width: 1px;
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    overflow: hidden;
                    padding: 10px 5px;
                    word-break: normal;
                }

                .tg th {
                    border-color: black;
                    border-style: solid;
                    border-width: 1px;
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    font-weight: normal;
                    overflow: hidden;
                    padding: 10px 5px;
                    word-break: normal;
                }

                .tg .tg-oe15 {
                    background-color: #ffffff;
                    border-color: #ffffff;
                    text-align: left;
                    vertical-align: top
                }

                .tg .tg-4ez0 {
                    background-color: #efefef;
                    border-color: #efefef;
                    font-weight: bold;
                    text-align: center;
                    vertical-align: top
                }

                .tg .tg-fkgn {
                    background-color: #efefef;
                    border-color: #efefef;
                    text-align: left;
                    vertical-align: top
                }

                .tg .tg-c1kk {
                    background-color: #ffffff;
                    border-color: #ffffff;
                    text-align: right;
                    vertical-align: top
                }
        </style>
        <style type="text/css">
            li {
                list-style: none;
            }

                li:before {
                    content: '\2022';
                    For a square bullet content:'\25A0';
                    display: block;
                    position: relative;
                    max-width: 0px;
                    max-height: 0px;
                    left: -20px;
                    top: -10px;
                    color: BBBE2F;
                    font-size: 35px;
                }
        </style>
        <table style="width:100%">
            <tbody>
                <tr>

                    <td style="vertical-align:top; width:77%"><b><font color="Red">Nota</font></b> : Para los productos que su entrega es recoger en tienda. recibirás un correo<br>de confirmación con el horario en la que pueda acudir a la tienda. recuerda llevar tu numero<br>de pedido y una identificación oficial.</td>
                    <td></td>
                </tr>
                <tr>
                    <td style="vertical-align:top; width:77%">
                        <table class="tg" style="width:100%">                         
                            <tr>
                                <td class="tg-8s30" rowspan="90"></td>
                                <td class="tg-fkgn" colspan="4"><img src="C:\Users\josera\Downloads\html\html\tienda.png" alt="Image" width="27" height="20">  <b>Productos con entrega en tienda - 123456787654 </b></td>
                                <td class="tg-fkgn" rowspan="90"></td>
                            </tr>
                            <tr>
                                <td class='tg-zv4m' colspan="2"><span style="font-weight:bold">Tienda</span><br>Soriana - Cuautla Antigua Carretera a México - Cuautla 4</td>
                                <td class='tg-zv4m'></td>
                                <td class='tg-zv4m'>
                                    <!-- td para puntos -->
                                </td>
                            </tr>
                            <tr>
                                <td class="tg-oe15" colspan="2"><span style="font-weight:bold">Horario</span><br>Lunes 23 de 11:00 am a 12:00 pm<br><br></td>
                            </tr>
                            <tr>
                                <td class='tg-zv4m' colspan="4"></td>
                            </tr>
                            <tr>
                                <td class='tg-zv4m' rowspan='2' style="width:10%"> <img src='https://www.soriana.com/dw/image/v2/BGBD_PRD/on/demandware.static/-/Sites-soriana-grocery-master-catalog/default/dwffb6b384/images/product/7502249667165-A.jpg' alt='Image' width='75' height='60'></td>
                                <td style="Word-wrap: break-Word; width: 45%;" class='tg-t0vf' rowspan='2'> Bafle Gowin Red-785 Bluetooth 15 Pulg</td>
                                <td class='tg-zv4m'>Cantidad: 1 pza</td>
                                <td class='tg-zv4m' rowspan='2' style="width:15;text-align:right%"> <span style='font-weight:bold'>$1899.00</span></td>
                            </tr>
                            <tr>
                                <td class='tg-zv4m' colspan="4"></td>
                            </tr>
                            <tr>
                                <td class="tg-8s30" colspan="4"></td>
                            </tr>
                        </table>
                    </td>
                    <td valign=top>
                        <table class="tg">
                            <thead>

                                <tr>
                                    <th class="tg-4ez0" colspan="4">Total de orden</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="tg-fkgn" rowspan="8"></td>
                                    <td class="tg-oe15" rowspan="2">No. Artículos<br></td>
                                    <td class="tg-c1kk" rowspan="2">@tot_Arti</td>
                                    <td class="tg-fkgn" rowspan="8"></td>
                                </tr>
                                <tr>
                                </tr>
                                <tr>
                                    <td class="tg-oe15">Subtotal</td>
                                    <td class="tg-c1kk">@subtotal</td>
                                </tr>
                                <tr>
                                    <td class="tg-oe15"><span style="font-weight:bold">Total</span><br></td>
                                    <td class="tg-c1kk">@total</td>
                                </tr>

                                <tr>
                                    <td class="tg-oe15" colspan="2" center valign=top>Incluye impuestos aplicables</td>
                                </tr>           
                                <tr>
                                    <td class="tg-fkgn" colspan="4"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>



        <br><br>
        <center>
            <span style="font-size: 22px;  margin: 0 6px 22px 0;"><b><font color="Red">CONSERVA ESTE CORREO PARA CUELQUIER ACLARACION</b></font></span>
        </center>
        <br><br>
        <span style="font-size: 18px;  margin: 0 6px 22px 0;">
            Los Puntoss y Dinero Electrónico del <b>Programa de Recompensa Soriana</b> se veran reflejados en tu
            tarjeta hasta el momento de recibir el pedido en tu domicilio y tiene vigencia al 30 de Abril y 31 de Octubre del año en curso. Aplican
            <b><u>Politicas del Programa de Recompensas Soriana</u></b>
            <br><br>
            Consulta nuestras <b><u>Politicas de Cancelaciones y Devolucioines</u></b> para mayor informaciíon
            <br><br>
            Productos, precios y promociones exclusivos de la tienda en linea Soriana.com y por tal motivo, <b>
                NO APLICA entrega de productos, cambios, ni devoluciones
                en tiendas físicas Soriana.
            </b>
        </span>
    </p>
</div>
@footer