@header
<!-- confirmacion de la cancelacion -->
<div style="min-width: 600px; width: 72.5%; margin: 0 auto 16px; min-height: 400px; color: #666666;">
    <p style="font-size: 25px; letter-spacing: 0px;">
        <span style="font-size: 26px; font-weight: bold; letter-spacing: 0px; margin: 0 6px 20px 0;">¡Hola @nombreProveedor</span>
        <br>
        <br>
        <span style="font-size: 18px;  margin: 0 6px 20px 0;">
            Te informamos que los productos del pedido con el numero <b>@pedido</b> han sido Cancelados.
            <br><br>
            En caso de haberse generado una Orden de Compra asociada a este pedido no continuará con el proceso.
            <br>
            Por lo tanto los productos <Font color="RED"><b>NO</b></Font> deberán ser enviados
            <br><br>
            Detalle de productos cancelados:
        </span>

        <br><br>

        <style type="text/css">
            .tg {
                border-collapse: collapse;
                border-spacing: 0;
            }

                .tg td {
                    border-color: black;
                    border-style: solid;
                    border-width: 1px;
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    overflow: hidden;
                    padding: 20px 20px;
                    word-break: normal;
                }

                .tg th {
                    border-color: black;
                    border-style: solid;
                    border-width: 1px;
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    font-weight: normal;
                    overflow: hidden;
                    padding: 20px 20px;
                    word-break: normal;
                }

                .tg .tg-8jgo {
                    border-color: #ffffff;
                    text-align: center;
                    vertical-align: top
                }

                .tg .tg-aw21 {
                    border-color: #ffffff;
                    font-weight: bold;
                    text-align: center;
                    vertical-align: top
                }
        </style>
        <table class="tg" style="undefined;table-layout: fixed; width: 970px">
            <colgroup>
                <col style="width: 55px">
                <col style="width: 96px">
                <col style="width: 109px">
                <col style="width: 502px">
                <col style="width: 84px">
                <col style="width: 124px">
            </colgroup>
            <thead>
                <tr>
                    <th class="tg-8jgo"><span style="font-weight:bold">N°</span></th>
                    <th class="tg-aw21">ID</th>
                    <th class="tg-aw21">EAN</th>
                    <th class="tg-8jgo"><span style="font-weight:bold">Descripcíon</span></th>
                    <th class="tg-8jgo"><span style="font-weight:bold">Piezas</span></th>
                    <th class="tg-aw21">Imagenes</th>
                </tr>
            </thead>
            <tbody>
                @tabla_articulos
            </tbody>
        </table>


    </p>
</div>

@footer
