@{
    string userName = ViewBag.Login != null ? ViewBag.Login.Username : "";
}

<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <div class="row">
                
                    <input id="txtFiltro" style=" padding: 4px 12px; margin: 14px 5px 5px 20px; font-size: 14px; float: right;" class="form-control" type="search" placeholder="Search..">
                
            </div>
        </div>

        @if (userName != "")
        {
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <img alt="image-profile" src="@Url.Content("~/Content/images/theme/profile.jpg")" class="rounded img-top-logued" />
                </li>
                <li>
                    <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext" id="usrLuged-Name">@userName</span>
                </li>
                <li>
                    <a href="@Url.Action("DoLogout","Security")">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>
         }
       
    </nav>
</div>

