@{ ViewBag.Title = "Alta de Proveedor";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


    <div class="wrapper wrapper-content animated fadeInRight" style="padding-top: 0px;">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="ibox-content p-xl" style="padding-top: 0px;padding-bottom: 0px;">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12 text-center">
                            <h2> Alta de Almacenes</h2>
                        </div>
                    </div>
                    <div class="row">
                        <table style="width:100%;">
                            <tr>
                                

                                <td style="width:15%;text-align:center;">
                                    Numero de Proveedor
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="txtNomPro" />
                                </td>
                                <td style="width:15%;text-align:center;">
                                    Nombre de Proveedor
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="txtNomPro" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6"><hr /></td>
                            </tr>
                        </table>
                        <table style="width:100%;">
                            <tr>
                                <td colspan="6">
                                    <b> Direccion del Almacén </b>
                                </td>
                            </tr>
                           
                            <tr>
                                <td style="width:15%;text-align:center;">
                                    Calle
                                </td>
                                <td style="text-align:left;">
                                    <input type="text" class="form-control" id="txtNoPro" />
                                </td>
                                <td style="width:15%;text-align:center;">
                                    Número Exterior

                                </td>
                                <td>
                                    <input type="text" class="form-control" id="txtNomPro" />
                                </td>
                                <td style="width:15%;text-align:center;">
                                    Número Interior

                                </td>
                                <td>
                                    <input type="text" class="form-control" id="txtNomPro" />
                                </td>

                            </tr>
                            <tr>
                                <td style="width:15%;text-align:center;">
                                    Cuidad/Delegación/Municipio

                                </td>
                                <td style="text-align:left;">
                                    <input type="text" class="form-control" id="txtNoPro" />
                                </td>
                                <td style="width:15%;text-align:center;">
                                    CP.

                                </td>
                                <td style="text-align:left;">
                                    <input type="text" class="form-control" id="txtNoPro" />
                                </td>
                                <td style="width:15%;text-align:center;">
                                    Estado
                                </td>
                                <td style="text-align:left;">
                                    <input type="text" class="form-control" id="txtNoPro" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:15%;text-align:center;">
                                    Entre calle 1

                                </td>
                                <td style="text-align:left;">
                                    <input type="text" class="form-control" id="txtNoPro" />
                                </td>
                                <td style="width:15%;text-align:center;">
                                    Entre calle 2

                                </td>
                                <td style="text-align:left;">
                                    <input type="text" class="form-control" id="txtNoPro" />
                                </td>
                                <td style="width:15%;text-align:center;">
                                    
                                </td>
                                <td style="text-align:left;">
                                    
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6"><hr /></td>
                            </tr>
                        </table>
                        <table style="width:100%;">
                            <tr>
                                <td colspan="3">
                                    <b>
                                        Infomación de contacto operativo
                                    </b>
                                </td>
                                <td colspan="3">
                                    <b>
                                        Infomación de contacto comercial
                                    </b>
                                </td>

                            </tr>
                            <tr>
                                <td style="width:15%;text-align:center;">
                                    Nombre de contacto Operativo

                                </td>
                                <td style="text-align:left;">
                                    <input type="text" class="form-control" id="txtNoPro" />
                                </td>
                                <td style="width: 10%;">
                                </td>


                                <td style="width:15%;text-align:center;">
                                    Nombre de contacto Operativo

                                </td>
                                <td style="text-align:left;">
                                    <input type="text" class="form-control" id="txtNoPro" />
                                </td>
                                <td style="width: 10%;">
                                </td>

                            </tr>
                            <tr>
                                <td style="width:15%;text-align:center;">
                                    Teléfono del contacto Operativo

                                </td>

                                <td style="text-align:left;">
                                    <input type="text" class="form-control" id="txtNoPro" />

                                </td>
                                <td style="width: 10%;">
                                </td>
                                <td style="width:15%;text-align:center;">
                                    Teléfono del contacto Operativo

                                </td>


                                <td style="text-align:left;">
                                    <input type="text" class="form-control" id="txtNoPro" />
                                </td>
                                <td style="width: 10%;">
                                </td>


                            </tr>
                            <tr>
                                <td style="width:15%;text-align:center;">
                                    Correo electrónico

                                </td>
                                <td style="text-align:left;">
                                    <input type="text" class="form-control" id="txtNoPro" />
                                </td>
                                <td style="width: 10%;">
                                </td>

                                <td style="width:15%;text-align:center;">
                                    Correo electrónico

                                </td>
                                <td style="text-align:left;">
                                    <input type="text" class="form-control" id="txtNoPro" />
                                </td>
                                <td style="width: 10%;">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6"><br /></td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                </td>
                                <td>
                                    <button type="button" class="btn btn-white">GUARDAR</button>
                                </td>

                                <td>
                                    <button type="button" class="btn btn-primary" onclick="TraspasaOrden()">EDITAR</button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6"><br /><br /><br /></td>
                            </tr>

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

