@{
    ViewBag.Title = "Consignaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


            <h2>Consignaciones</h2>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div style="width:99%;">
            <table id="tblConsulta" class="display table table-striped table-bordered table-hover table-responsive-md expand dataTable no-footer ">
                <thead class="bg-danger-sor">
                    <tr>
                        <th>Numero de consignación</th>
                        <th>Total importe de la Consignación</th>
                        <th>Tipo Almacen </th>
                        <th>Fecha creacion de orden</th>
                        <th>Hora creacion de orden</th>
                        <th>Nombre del cliente</th>
                        <th>Estatus de la orden</th>
                        <th>Estatus de la consignación Surtido</th>
                        <th>Estatus de la consignación Envio</th>
                        <th>No. de orden de compra (DSV)</th>
                        <th>Estatus de Orden de Compra (DSV)</th>
                        <th>Consignacion de Reenvio/Sustituto/Cambio Fisico</th>
                        <th>Guia de devolucion</th>
                        <th>Estatus de la Guia de Devolucion</th>
                        <th>Guia de reenvio</th>
                        <th>Estatus de Guía de Reenvio</th>
                        @*<th class="sorting">Motivo de no recolección</th>*@
                        @*<th name='accion'></th>*@
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal inmodal fade" id="detalleconsignacion" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header pt-3 pb-1">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Detalle Consignación</h4>
            </div>
            <div class="modal-body">
                <form id="frmCreateServicios">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <table id="tblInventarios" class="display table table-striped table-bordered table-hover table-responsive-md expand dataTable no-footer " role="grid" style="width: 555px;">
                                <thead class="bg-danger-sor">
                                    <tr>
                                        <th>EAN/Codigo de barras</th>
                                        <th>id</th>
                                        <th>Descripción</th>
                                        <th>Piezas</th>
                                        <th>Costo Unitario</th>
                                        <th>Peso volumetrico Unitario</th>
                                        <th>Surtido/Dias transcurridos desde la cración</th>
                                        <th>Surtido/Dias transcurridos desde la autorización</th>
                                        <th>Fecha de envio</th>
                                        <th>Hora de envio</th>
                                        <th>RMA</th>
                                        <th>Estatus del RMA</th>

                                        @*<th>dimmensionWeightReal</th>
                                        <th>productStatus</th>
                                        <th>productMaterialCost</th>
                                        <th>productCreationDate</th>
                                        <th>idSupplierOrigin</th>
                                        <th>idSupplierOriginName</th>*@
                                    </tr>

                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                @*<button type="button" onclick="Save()" class="btn btn-primary">Guardar</button>*@
                @*<button type="button" onclick="addSurtidores()" class="btn btn-primary" data-dismiss="modal">Guardar</button>*@
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal fade" id="dlgDesHabilitar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pt-3 pb-1">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Almacen - Autorización</h4>
                <input type="hidden" id="hddNoProveedor" />
                <input type="hidden" id="HddNoAlmacen" />

            </div>
            <div class="modal-body">
                <form id="frmCreateServicios">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <label>Motivo por el cual se Inhabilita: </label>
                                <textarea class="form-control m-b" id="txtMotCan" rows="6" maxlength="250"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" onclick="Inhabilitar()" class="btn btn-primary">Inhabilitar</button>
                @*<button type="button" onclick="addSurtidores()" class="btn btn-primary" data-dismiss="modal">Guardar</button>*@
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            GetconsignacionesAdm();
        });

        function popDesHabilitar(noProveedor, noAlmacen) {
            $("#hddNoProveedor").val(noProveedor);
            $("#HddNoAlmacen").val(noAlmacen);
            $("#dlgDesHabilitar").modal('toggle');
        }

        function PopDetlleC(Consignacion){

            $("#detalleconsignacion").modal('toggle');
            /*$("#Consignacion").val(Consignacion);*/

            $.ajax({
                async: false,
                type: "POST",
                url: '@Url.Action("GetDetalleConsignacionAdm", "consignaciones")',
                data: {
                    consignacion: Consignacion
                },

                datatype: "json",
                success: function (json) {
                    if (json.Success) {
                        $('#tblInventarios tbody').empty();
                        //var tr;
                        debugger;
                        //Append each row to html table

                        for (var i = 0; i < json.resp.length; i++) {
                            tr = $('<tr/>');

                            tr.append("<td>" + json.resp[i].EAN + "</td>");                           
                            tr.append("<td>" + json.resp[i].ID + "</td>");
                            tr.append("<td>" + json.resp[i].Descripcion + "</td>");
                            tr.append("<td>" + json.resp[i].Piezas + "</td>");
                            tr.append("<td>" + json.resp[i].CostoUnitario + "</td>");
                            tr.append("<td>" + json.resp[i].PesoVolumetrico + "</td>");
                            tr.append("<td>" + json.resp[i].DiasDesdeCreacion + "</td>");
                            tr.append("<td>" + json.resp[i].DiasDesdeAutoriza + "</td>");
                            tr.append("<td>" + json.resp[i].FechaEnvio + "</td>");
                            tr.append("<td>" + json.resp[i].HoraEnvio + "</td>");
                            tr.append("<td>" + json.resp[i].IdRMA + "</td>");
                            tr.append("<td>" + json.resp[i].StatusRMA + "</td>");

                            $('#tblInventarios').append(tr);
                        }
                    }
                    else {
                        alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    //bootbox.alert(errorThrown);
                    alert("errorThrown");
                }

            });
        }
        function GetconsignacionesAdm() {

            //var _Id_Num_UN = $("#hddTda").val();

            debugger;

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetconsignacionesAdm", "consignaciones")',
                data: {
                    //  Id_Num_UN: _Id_Num_UN
                },

                datatype: "json",
                success: function (json) {
                    if (json.Success) {

                        $('#tblConsulta tbody').empty();
                        //var tr;
                        debugger;
                        //Append each row to html table

                        for (var i = 0; i < json.resp.length; i++) {
                            tr = $('<tr/>');
                            //tr.append("<td class='row1'>" + json.json[i].Id_Num_Orden + "</td>");
                           
                        /*tr.append("<td>" + json.resp[i].Consignacion + "</td>");*/
                            tr.append("<td><a  title='Click para ver el detalle' class='link-primary' onclick='PopDetlleC(\"" + json.resp[i].Consignacion + "\")'>" + json.resp[i].Consignacion +"</a></td>");
                            /*tr.append("<td><a  title='Click para ver el detalle' class='link-primary' onclick='PopDetlleC(" + json.resp[i].Consignacion + "</a></td>");*/
                            tr.append("<td>" + json.resp[i].TotalConsignacion + "</td>");  
                            tr.append("<td>" + json.resp[i].TipoAlmacen + "</td>");
                            tr.append("<td>" + json.resp[i].FechaCreacion + "</td>");
                            tr.append("<td>" + json.resp[i].HoraCreacion + "</td>");
                            tr.append("<td>" + json.resp[i].NombreCliente + "</td>");
                            tr.append("<td>" + json.resp[i].EstatusEnvio + "</td>");
                            tr.append("<td>" + json.resp[i].EstatusConsignacionAlmacen + "</td>");
                            tr.append("<td>" + json.resp[i].EstatusConsignacionEntrega + "</td>");
                            tr.append("<td>" + json.resp[i].NroOrdenCompra + "</td>");
                            tr.append("<td>" + json.resp[i].EstatusOrdenCompra + "</td>");

                            tr.append("<td>" + json.resp[i].ConsignacionReenvio + "</td>");
                            tr.append("<td>" + json.resp[i].GuiaDevolNro + "</td>");
                            tr.append("<td>" + json.resp[i].GuiaDevolStatus + "</td>");
                            tr.append("<td>" + json.resp[i].GuiaReenvioNro + "</td>");
                            tr.append("<td>" + json.resp[i].GuiaReenvioStatus + "</td>");
                            
                            //tr.append("<td>" + json.resp[i].EstatusEnvio + "</td>");
                            //tr.append("<td><button type='button' title='Click para ver el inventario' onclick='PopInv(" + json.resp[i].noProveedor + "," + json.resp[i].noAlmacen + ")'  class='btn btn-warning btn-circle'> <i class='fa fa-tasks'></i></button></td >");



                            $('#tblConsulta').append(tr);
                        }


                    }
                    else {
                        alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    //bootbox.alert(errorThrown);
                    alert("errorThrown");
                }

            });

        }


       @* function Inhabilitar() {

            var motCan = $("#txtMotCan").val();

            if (motCan.length == 0) {
                $("#txtMotCan").focus();
                return;
            }
            UpdateStatus($("#hddNoProveedor").val(), $("#HddNoAlmacen").val(), false, motCan);
            $("#dlgDesHabilitar").modal('hide');
        }

        function Habilitar(noProveedor, noAlmacen) {
            UpdateStatus(noProveedor, noAlmacen, true, '');
        }
        function UpdateStatus(noProveedor, noAlmacen, _bitenable, _enableCause) {
            //string bitenable, string enableCause
             $.ajax({
                async: false,
                type: "POST",
                url: '@Url.Action("UpdateSuppliersWH", "almacenes")',
                data: {
                    idSupplierWH: noProveedor,
                    idSupplierWHCode: noAlmacen,
                    bitenable: _bitenable,
                    enableCause: _enableCause
                },

                datatype: "json",
                success: function (json) {
                    if (json.Success) {
                        //GetSuppliers();
                        location.reload();

                    } else {
                        alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    //bootbox.alert(errorThrown);
                    alert("errorThrown");
                }

            })

        }*@

    </script>
    @*CONFIGURACION DE TABLAS, FILTROS, BOTONES DE EXPORT*@
    <script>
        $(document).ready(function () {
            $('#tblConsulta thead tr').clone(true).appendTo('#tblConsulta thead');
            $('#tblConsulta thead tr:eq(1) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });

            table = $("#tblConsulta").DataTable(
                {
                    dom: "<'row'<'col col-xs-6'B><'#topRightSection.col-xs-12 col-md-6 text-right' f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'lp>>",
                    processing: true,
                    searching: true,
                    ordering: true,
                    order: [[1, 'asc']],
                    filter: true,
                    info: false,
                    stateSave: false,
                    select: false,
                    select: {
                        style: 'single'
                    },
                    //Paggin

                    paging: true,
                    pageLength: 10,
                    lengthMenu: [10, 25, 50, 100, 500],

                    // destroy: true, //destruye automaticamente la referencia a la tabla
                    //Ajax
                    //serverSide: true,
                    //bServerSide: true,
                    //sServerMethod: "GET",
                    buttons: ['csv', 'excel'],
                    orderCellsTop: false,
                    //fixedHeader: {
                    //    header: true            
                    //},
                    "scrollX": true

                }
            );

            $("#tblInventarios").DataTable(
                {
                    dom: "<'row'<'col col-xs-6'B><'#topRightSection.col-xs-12 col-md-6 text-right' f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'lp>>",
                    processing: true,
                    searching: true,
                    ordering: true,
                    order: [[1, 'asc']],
                    filter: true,
                    info: false,
                    stateSave: false,
                    select: false,
                    select: {
                        style: 'single'
                    },
                    //Paggin
                    paging: true,
                    pageLength: 10,
                    lengthMenu: [10, 25, 50, 100, 500],

                    // destroy: true, //destruye automaticamente la referencia a la tabla
                    //Ajax
                    //serverSide: true,
                    //bServerSide: true,
                    //sServerMethod: "GET",
                    buttons: ['csv', 'excel'],
                    orderCellsTop: false,
                    fixedHeader: {
                        header: true,
                        footer: true
                    },
                    "scrollX": true
                    , "options": {
                        "emptyTable": "No records to display..."
                    }

                }
            );
        });
    </script>
}



