@{
    ViewBag.Title = "Pedidos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Envio de Pedidos</h2>
<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <div class="form-group">
            <label>Fecha Inicio</label>
            @*<input type="date" id="txtFecIniTarifa" class="form-control" />*@
            <div class="input-group date" id="datetimepicker1">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input class="form-control datepicker" id="txtFecIni"
                       type="text" value="@ViewBag.FecIni">
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <label>Fecha Fin</label>
        @*<input type="date" id="txtFecIniTarifa" class="form-control" />*@
        <div class="input-group date" id="datetimepicker2">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input class="form-control datepicker" id="txtFecFin"
                   type="text" value="@ViewBag.FecFin">
        </div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2" style="vertical-align:bottom;">
        <label>&nbsp;</label>
        <button class="btn btn-lg btn-block btn-primary mt-auto" type="submit" onclick="GetconsignacionesAdm()">
            Buscar
        </button>

    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div style="width:99%;">
            <table id="tblConsulta" class="display table table-striped table-bordered table-hover table-responsive-md expand dataTable no-footer ">
                <thead class="bg-danger-sor">
                    <tr>
                        <th>Numero de pedido</th>
                        @*<th>Total importe de la Consignación</th>*@
                        <th>Número Proveedor</th>
                        <th>Nombre Proveedor</th>
                        <th>Número Almacen</th>
                        <th>Nombre Almacen</th>
                        <th>Tipo Almacen </th>
                        <th>Fecha creacion de orden</th>
                        <th>Hora creacion de orden</th>
                        <th>Fecha Pago Autorizado</th>
                        <th>Fecha Limite Entrega a la Paqueteria</th>
                        <th>Nombre del cliente</th>
                        <th>Estatus del Pedido</th>
                        <th>Estatus del pedido Surtido</th>
                        <th>Estatus del pedido Envio</th>
                        <th>No. de orden de compra (DSV)</th>
                        <th>Estatus de Orden de Compra (DSV)</th>
                        <th>Transportista</th>
                        <th>No. Guía</th>
                        <th>Vigencia Guía</th>
                        <th>Fecha Solicitud de Guía</th>
                        <th>Punto de Venta</th>
                        <th>Codigo de Producto</th>
                        <th>Codigo de Barras</th>
                        <th style="width:700px">Nombre del Producto</th>
                        <th style="width:200px">Categoria del Producto</th>
                        <th>Cantidad de Productos</th>
                        <th>Precio de Producto</th>
                        <th>Costo de la Consignación</th>
                        @* <th>Consignacion de Reenvio/Sustituto/Cambio Fisico</th>*@
                        @* <th>Guia de devolucion</th>*@
                        @*<th>Estatus de la Guia de Devolucion</th>*@
                        @*<th>Guia de reenvio</th>*@
                        @*<th>Estatus de Guía de Reenvio</th>*@
                        @*<th class="sorting">Motivo de no recolección</th>*@
                        @*<th name='accion'></th>*@
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal inmodal fade" id="detalleconsignacion" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header pt-3 pb-1">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Detalle Pedido </h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <table id="tblInventarios" class="table table-striped table-bordered table-hover table-responsive-md expand dataTable no-footer">
                            <thead class="bg-danger-sor">
                                <tr>
                                    <th>EAN/Codigo de barras</th>
                                    <th>id</th>
                                    <th>Descripción</th>
                                    <th>Piezas</th>
                                    <th>Costo Unitario</th>
                                    <th>Peso volumetrico Unitario</th>
                                    <th>Surtido/Dias transcurridos desde la cración</th>
                                    <th>Surtido/Dias transcurridos desde la autorización</th>
                                    <th>Fecha de envio</th>
                                    <th>Hora de envio</th>
                                    <th>RMA</th>
                                    <th>Estatus del RMA</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                @*<button type="button" onclick="Save()" class="btn btn-primary">Guardar</button>*@
                @*<button type="button" onclick="addSurtidores()" class="btn btn-primary" data-dismiss="modal">Guardar</button>*@
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal fade" id="dlgDesHabilitar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pt-3 pb-1">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Almacen - Autorización</h4>
                <input type="hidden" id="hddNoProveedor" />
                <input type="hidden" id="HddNoAlmacen" />

            </div>
            <div class="modal-body">
                <form id="frmCreateServicios">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <label>Motivo por el cual se Inhabilita: </label>
                                <textarea class="form-control m-b" id="txtMotCan" rows="6" maxlength="250"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" onclick="Inhabilitar()" class="btn btn-primary">Inhabilitar</button>
                @*<button type="button" onclick="addSurtidores()" class="btn btn-primary" data-dismiss="modal">Guardar</button>*@
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $('#datetimepicker1').datetimepicker({
                locale: 'es'
                , format: "yyyy/MM/DD"
            });
            $('#datetimepicker2').datetimepicker({
                locale: 'es'
                , format: "yyyy/MM/DD"
            });

        });
        function popDesHabilitar(noProveedor, noAlmacen) {
            $("#hddNoProveedor").val(noProveedor);
            $("#HddNoAlmacen").val(noAlmacen);
            $("#dlgDesHabilitar").modal('toggle');
        }

        function PopDetlleC(Consignacion){

             $("#detalleconsignacion").modal('toggle');


                    $.ajax({
                async: false,
                type: "POST",
                url: '@Url.Action("GetDetalleConsignacionAdm", "consignaciones")',
                data: {
                    consignacion: Consignacion
                },

                datatype: "json",
                success: function (json) {
                    if (json.Success) {

                        $("h4.modal-title").text("Detalle del Pedido - " + Consignacion);
                        var table = $('#tblInventarios').DataTable();

                        table.clear().draw();
                        for (var i = 0; i < json.resp.length; i++) {


                            table.row.add([
                                json.resp[i].EAN
                                , json.resp[i].ID
                                , json.resp[i].Descripcion
                                , json.resp[i].Piezas
                                , json.resp[i].CostoUnitario

                                , json.resp[i].PesoVolumetrico
                                , json.resp[i].DiasDesdeCreacion
                                , json.resp[i].DiasDesdeAutoriza
                                , json.resp[i].FechaEnvio
                                , json.resp[i].HoraEnvio
                                , json.resp[i].IdRMA
                                , json.resp[i].StatusRMA
                                //, "fdnvdiuvhjd"
                                //, "dgrfgfdg"

                            ]).draw();
                        }
                        //table.columns.adjust().draw();

                        setTimeout(function () {
                            table.columns.adjust().draw();
                        }, 200);
                    }
                    else {
                        alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    //bootbox.alert(errorThrown);
                    alert("errorThrown");
                }

            });
        }

        function GetconsignacionesAdm() {

            var _FecIni = $("#txtFecIni").val();
            var _FecFin = $("#txtFecFin").val();

            if (_FecIni.length == 0) {
                $("#txtFecIni").focus();
                return;
            }


            if (_FecFin.length == 0) {
                $("#txtFecFin").focus();
                return;
            }

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetconsignacionesAdm", "consignaciones")',
                data: {
                    FecIni: _FecIni,
                    FecFin: _FecFin
                },

                datatype: "json",
                success: function (json) {
                    if (json.Success) {
                        var myTable = $('#tblConsulta').DataTable();
                        myTable
                            .clear()
                            .draw();
                        for (var i = 0; i < json.resp.length; i++) {
                            var urlGuia = '';
                            for (var x = 0; x < json.guias.length; x++) {
                                if (json.resp[i].OrdenCompra == json.guias[x].Id_Num_Orden && json.resp[i].Consignacion == json.guias[x].UeNo)
                                {
                                    if (urlGuia == '')
                                        urlGuia = '<a onclick="showpdf(\'' + json.guias[x].IdGuiasPaq + '\');return false;" href="#" title="Click para ver el pdf de la guia" class="btn btn-link">' + json.guias[x].IdGuiasPaq + '_</a>'
                                    else
                                        urlGuia += '<br/> <a onclick="showpdf(\'' + json.guias[x].IdGuiasPaq + '\');return false;" href="#" title="Click para ver el pdf de la guia" class="btn btn-link">' + json.guias[x].IdGuiasPaq + '_</a>'
                                }
                            }
                            
                        
                            myTable.row.add([
                                "<a  title='Click para ver el detalle' class='link-primary' onclick='PopDetlleC(\"" + json.resp[i].Consignacion + "\")'><u>" + json.resp[i].Consignacion + "</u></a>",
                                json.resp[i].NroProveedor,
                                json.resp[i].NombreProveedor,
                                json.resp[i].NroAlmacen,
                                json.resp[i].NombreAlmacen,
                                json.resp[i].TipoAlmacen,
                                json.resp[i].FechaCreacion,
                                json.resp[i].HoraCreacion,
                                json.resp[i].FechaPago,
                                json.resp[i].FechaLimite,
                                json.resp[i].NombreCliente,
                                json.resp[i].EstatusEnvio,
                                json.resp[i].EstatusConsignacionAlmacen,
                                json.resp[i].EstatusConsignacionEntrega,
                                json.resp[i].NroOrdenCompra,
                                json.resp[i].EstatusOrdenCompra,
                                json.resp[i].Transportista,
                                urlGuia,
                                json.resp[i].GuiaVig,
                                json.resp[i].FechaSolicitudGuia,
                                json.resp[i].PuntoDeVenta,
                                json.resp[i].ProductId,
                                json.resp[i].Barcode,
                                "<div style='width: 700px'>" + json.resp[i].ProductName + "</div>",
                                "<div style='width: 200px'>" + json.resp[i].Categoria + "</div>",
                                json.resp[i].Quantity,
                                json.resp[i].Price,
                                json.resp[i].CostoConsignacion
                                
                            ]).draw();
                        }

                    }
                    else {
                        alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    //bootbox.alert(errorThrown);
                    alert("errorThrown");
                }

            });

        }


    </script>
    @*CONFIGURACION DE TABLAS, FILTROS, BOTONES DE EXPORT*@
    <script>
        $(document).ready(function () {
            $('#tblConsulta thead tr').clone(true).appendTo('#tblConsulta thead');
            $('#tblConsulta thead tr:eq(0) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });

            table = $("#tblConsulta").DataTable(
                {
                    dom: "<'row'<'col col-xs-6'B><'#topRightSection.col-xs-12 col-md-6 text-right' f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'lp>>",
                    processing: true,
                    searching: true,
                    ordering: true,
                    order: [[1, 'asc']],
                    filter: true,
                    info: false,
                    stateSave: false,
                    select: false,
                    select: {
                        style: 'single'
                    },
                    //Paggin

                    paging: true,
                    pageLength: 10,
                    lengthMenu: [10, 25, 50, 100, 500],

                    // destroy: true, //destruye automaticamente la referencia a la tabla
                    //Ajax
                    //serverSide: true,
                    //bServerSide: true,
                    //sServerMethod: "GET",
                    buttons: ['csv', 'excel'],
                    orderCellsTop: false,
                    fixedHeader: {
                        header: false
                    },
                    "scrollX": true

                }
            );


            $('#tblInventarios thead tr').clone(true).appendTo('#tblInventarios thead');
            $('#tblInventarios thead tr:eq(0) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });


            table2 = $("#tblInventarios").DataTable(
                {
                    dom: "<'row'<'col col-xs-6'B><'#topRightSection.col-xs-12 col-md-6 text-right' f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'lp>>",
                    processing: true,
                    searching: true,
                    ordering: true,
                    order: [[1, 'asc']],
                    filter: true,
                    info: false,
                    stateSave: false,
                    select: false,
                    select: {
                        style: 'single'
                    },
                    //Paggin
                    paging: true,
                    pageLength: 10,
                    lengthMenu: [10, 25, 50, 100, 500],

                    // destroy: true, //destruye automaticamente la referencia a la tabla
                    //Ajax
                    //serverSide: true,
                    //bServerSide: true,
                    //sServerMethod: "GET",
                    buttons: ['csv', 'excel'],
                    orderCellsTop: false,
                    fixedHeader: {
                        header: true,
                        footer: true
                    },
                    "scrollX": true
                    , "scrollY": "400px"
                    , "scrollCollapse": true
                    , "options": {
                        "emptyTable": "No records to display..."
                    }

                }
            );
            //GetconsignacionesAdm();
        });

        function IniciarInventario() {



            $("#tblInventarios").DataTable(
                {
                    dom: "<'row'<'col col-xs-6'B><'#topRightSection.col-xs-12 col-md-6 text-right' f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'lp>>",
                    processing: true,
                    searching: true,
                    ordering: true,
                    order: [[1, 'asc']],
                    filter: true,
                    info: false,
                    stateSave: false,
                    select: false,
                    select: {
                        style: 'single'
                    },
                    //Paggin
                    paging: true,
                    pageLength: 10,
                    lengthMenu: [10, 25, 50, 100, 500],

                    // destroy: true, //destruye automaticamente la referencia a la tabla
                    //Ajax
                    //serverSide: true,
                    //bServerSide: true,
                    //sServerMethod: "GET",
                    buttons: ['csv', 'excel'],
                    orderCellsTop: false,
                    fixedHeader: {
                        header: true,
                        footer: true
                    },
                    "scrollX": true
                    , "options": {
                        "emptyTable": "No records to display..."
                    }

                }
            );
        }
    </script>
}



