
@{
    ViewBag.Title = "Canal de Pago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Canal de Pago</h2>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div style="width:99%;">
            <table id="tblConsulta" class="display table table-striped table-bordered table-hover table-responsive-md expand dataTable no-footer ">
                <thead class="bg-danger-sor">
                    <tr>
                        <th>BIN</th>
                        <th>Id Institución</th>
                        <th>Institución</th>
                        <th>Producto</th>
                        <th>Naturaleza</th>
                        <th>Marca</th>
                        <th>Tarjeta Chip</th>
                        <th>BIN Virtual</th>
                        <th>Ac Manual</th>
                        <th>Ac TPV</th>
                        <th>Ac Cashback</th>
                        <th>AcATMs</th>
                        <th>Ac Ecommerce</th>
                        <th>Ac Cargos Pe</th>
                        <th>Ac Ventas X</th>
                        <th>Ac Sucursal</th>
                        <th>Ac Pagos en el Interca,bio</th>
                        <th>Ac 3D Secure</th>
                        <th>NFC</th>
                        <th>MST</th>
                        <th>Wallet</th>
                        <th>PAN Din</th>
                        <th>CVV/CVC Din</th>
                        <th>NIP</th>
                        <th>Tokenización</th>
                        <th>Vale</th>
                        <th>Fecha ALta</th>
                        <th>Procesador</th>
                        <th>Mes de Actualización</th>
                        <th>Año de Actualización</th>
                        <th>Año fecha de Actualización</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts {

    @*CONFIGURACION DE TABLAS, FILTROS, BOTONES DE EXPORT*@
    <script>
        $(document).ready(function () {
            $('#tblConsulta thead tr').clone(true).appendTo('#tblConsulta thead');
            $('#tblConsulta thead tr:eq(1) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });

            table = $("#tblConsulta").DataTable(
                {
                    dom: "<'row'<'col col-xs-6'B><'#topRightSection.col-xs-12 col-md-6 text-right' f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'lp>>",
                    processing: true,
                    searching: true,
                    ordering: true,
                    order: [[1, 'asc']],
                    filter: true,
                    info: false,
                    stateSave: false,
                    select: false,
                    select: {
                        style: 'single'
                    },
                    //Paggin

                    paging: true,
                    pageLength: 10,
                    lengthMenu: [10, 25, 50, 100, 500],

                    // destroy: true, //destruye automaticamente la referencia a la tabla
                    //Ajax
                    //serverSide: true,
                    //bServerSide: true,
                    //sServerMethod: "GET",
                    buttons: ['csv', 'excel'],
                    orderCellsTop: false,
                    fixedHeader: {
                        header: true
                    },
                    "scrollX": true

                }
            );
        });
    </script>
}

