
@{
    ViewBag.Title = "Liquidaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Liquidaciones</h2>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>Fecha</label>
                    <input type="date" id="txtFecIni" class="form-control" />
                    <div class="input-group date" id="datetimepicker1"></div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @*<label>Fecha Fin</label>
                <input type="date" id="txtFecFin" class="form-control" />
                <div class="input-group date" id="datetimepicker2"></div>*@
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2" style="vertical-align:bottom;">
                <label>&nbsp;</label>
                <button class="btn btn-lg btn-block btn-primary mt-auto" type="submit" onclick="GetReporteLiquidacion()">
                    Descargar Reporte
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                    <label>Numero Orden</label>
                    <input type="text" id="txtOrder" class="form-control" />
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @*<label>Fecha Fin</label>
                <input type="date" id="txtFecFin" class="form-control" />
                <div class="input-group date" id="datetimepicker2"></div>*@
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2" style="vertical-align:bottom;">
                <label>&nbsp;</label>
                <button class="btn btn-lg btn-block btn-primary mt-auto" type="submit" onclick="GetLiquidacionesbyOrder()">
                    Buscar
                </button>
            </div>
        </div>
        <div style="width:99%;">
            <table id="tblConsulta" class="display table table-striped table-bordered table-hover table-responsive-md expand dataTable no-footer ">
                <thead class="bg-danger-sor">
                    <tr>
                        <th>Orden ID</th>
                        <th>ID transaccion</th>
                        <th>Fecha de creación</th>
                        <th>Hora de creación</th>
                        <th>No. Afiliacion</th>
                        <th>Adquirente</th>
                        <th>Catálogo</th>
                        <th>Tipo entrega</th>
                        <th>Canal de compra</th>
                        <th>Forma de pago</th>
                        <th>Estatus de pago</th>
                        <th>Tipo de almacen</th>
                        <th>Estatus del envío</th>
                        <th>Costo de envío</th>
                        <th>Monto total de la orden</th>
                        <th>Banco</th>
                        <th>Bin</th>
                        <th>Sufijo</th>
                        <th>Tipo de tarjeta</th>
                        <th>Marca</th>
                        <th>No. Autorizacion</th>
                        <th>MSI</th>
                        <th>Correo</th>
                        <th>Nombre de persona a recibir</th>
                        <th>Apellido_P</th>
                        <th>Apellido_M</th>
                        <th>Fecha liquidación</th>
                        <th>Hora de liquidación</th>
                        <th>Monto de liquidación</th>
                        <th>Liquidación Manual</th>
                        <th>Liquidación autómatica</th>
                        <th>ID transaccion Liquidación</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>
    @section scripts {
        <script>
        $(document).ready(function () {
            //GetReporte();
        });

        function GetReporte() {

            //var _Id_Num_UN = $("#hddTda").val();

            debugger;

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("GetFormaPago", "ReportesPDP")',
                data: {
                    //  Id_Num_UN: _Id_Num_UN
                },

                datatype: "json",
                success: function (json) {
                    if (json.Success) {

                        $('#tblConsulta tbody').empty();
                        //var tr;
                        debugger;
                        //Append each row to html table

                        for (var i = 0; i < json.resp.length; i++) {
                            tr = $('<tr/>');


                            tr.append("<td>" + json.resp[i].NoOrden + "</td>");
                            tr.append("<td>" + json.resp[i].Fecha + "</td>");
                            tr.append("<td>" + json.resp[i].NoConsignacion + "</td>");
                            tr.append("<td>" + json.resp[i].Monto + "</td>");
                            tr.append("<td>" + json.resp[i].TipoPAgo + "</td>");
                            tr.append("<td>" + json.resp[i].Origen + "</td>");
                            tr.append("<td>" + json.resp[i].FecEntrega + "</td>");


                            $('#tblConsulta').append(tr);
                        }


                    }
                    else {
                        alert(json.Message);
                    }
                }
                , error: function (jqXHR, textStatus, errorThrown) {
                    //bootbox.alert(errorThrown);
                    alert("errorThrown");
                }

            });

        }

        </script>
        @*CONFIGURACION DE TABLAS, FILTROS, BOTONES DE EXPORT*@

        <script>
        $(document).ready(function () {
            $('#tblConsulta thead tr').clone(true).appendTo('#tblConsulta thead');
            $('#tblConsulta thead tr:eq(1) th').each(function (i) {
                if ($(this).attr('name') != "accion") {
                    var title = $(this).text();
                    $(this).html('<input type="text" class="form form-control input-sm" placeholder="' + title + '" />');

                    $('input', this).on('keyup change', function () {
                        if (table.column(i).search() !== this.value) {
                            table
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                } else {
                    $(this).empty();
                }
            });

            table = $("#tblConsulta").DataTable(
                {
                    dom: "<'row'<'col col-xs-6'B><'#topRightSection.col-xs-12 col-md-6 text-right' f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'lp>>",
                    processing: true,
                    searching: true,
                    ordering: true,
                    order: [[1, 'asc']],
                    filter: true,
                    info: false,
                    stateSave: false,
                    select: false,
                    select: {
                        style: 'single'
                    },
                    //Paggin

                    paging: true,
                    pageLength: 10,
                    lengthMenu: [10, 25, 50, 100, 500],

                    // destroy: true, //destruye automaticamente la referencia a la tabla
                    //Ajax
                    //serverSide: true,
                    //bServerSide: true,
                    //sServerMethod: "GET",
                    buttons: [],
                    orderCellsTop: false,
                    fixedHeader: {
                        header: true
                    },
                    "scrollX": true

                }
            );
        });

          function GetReporteLiquidacion() {
              debugger;
              var _FecIni = $("#txtFecIni").val();

              window.location = window.location.origin + '/ReportesPDP/ProcesaArchivos?NombreArchivo=Liquidaciones&Fecha=' + _FecIni;
            }

          function GetLiquidacionesbyOrder() {
            var _OrderReferenceNumber = $("#txtOrder").val();


            if (_OrderReferenceNumber.length == 0) {
                $("#txtOrder").focus();
                return;
            }

            debugger;

            $.ajax({
                async: false,
                type: "GET",
                url: '@Url.Action("LiquidacionesbyOrder", "ReportesPDP")',
                data: {
                        OrderReferenceNumber: _OrderReferenceNumber,

                },
                datatype: "json",
                success: function (json) {
                    if (json.Success) {
                        debugger;

                        var myTable = $('#tblConsulta').DataTable();
                        myTable.clear().draw();

                        for (var i = 0; i < json.resp.length; i++) {
                            debugger;
                            var rw = json.resp[i];
                            var OrderReferenceNumber = rw.OrderReferenceNumber;
                            var PaymentTransactionID = rw.PaymentTransactionID;
                            var OrderDate = rw.OrderDate;
                            var OrderHour = rw.OrderHour;
                            var NoAfiliacion = rw.AffiliationType;
                            var Adquirente = rw.Adquirente;
                            var Catalogo = rw.Catalogo;
                            var shippingDeliveryDesc = rw.DeliveryType;
                            var OrderSaleChannel = rw.OrderSaleChannel;
                            var FormaPago = rw.paymentTypeJson;
                            var EstatusPago = rw.TransactionStatus;
                            var TipoAlmacen = rw.TipoAlmacen;
                            var Estatusenvio = rw.EstatusEnvio;
                            var ShippingItemTotal = rw.ShippingItemTotal;
                            var orderAmount = rw.orderAmount;
                            var Bank = rw.Bank;
                            var BinCode = rw.BinCode;
                            var MaskCard = rw.MaskCard;
                            var PaymentMethod = rw.PaymentMethod;
                            var TypeOfCard = rw.TypeOfCard;
                            var TransactionAuthorizationId = rw.TransactionAuthorizationId;
                            var shippingPaymentInstallments = rw.shippingPaymentInstallments;
                            var clientEmail = rw.clientEmail;
                            var ShippingFirstName = rw.ShippingFirstName;
                            var ShippingLastName = rw.ShippingLastName
                            var Apellido_M = "";
                            var FechaLiquidacion = rw.FechaLiquidacion;
                            var HoraLiquidacion = rw.HoraLiquidacion;
                            var MontoLiquidacion = rw.MontoLiquidacion;
                            var LiquidacionManual = rw.LiquidacionManual;
                            var LiquidacionAutomatica = rw.LiquidacionAutomatica;
                            var IDTransaccionLiquidacion = rw.IDTransaccionLiquidacion;


                            myTable.row.add([
                                OrderReferenceNumber
                             , PaymentTransactionID
                             , OrderDate
                             , OrderHour
                             , NoAfiliacion
                             , Adquirente
                             , Catalogo
                             , shippingDeliveryDesc
                             , OrderSaleChannel
                             , FormaPago
                             , EstatusPago
                             , TipoAlmacen
                             , Estatusenvio
                             , ShippingItemTotal
                             , orderAmount
                             , Bank
                             , BinCode
                             , MaskCard
                             , PaymentMethod
                             , TypeOfCard
                             , TransactionAuthorizationId
                             , shippingPaymentInstallments
                             , clientEmail
                             , ShippingFirstName
                             , ShippingLastName
                             , Apellido_M
                             , FechaLiquidacion
                             , HoraLiquidacion
                             , MontoLiquidacion
                             , LiquidacionManual
                             , LiquidacionAutomatica
                             , IDTransaccionLiquidacion
                            ]).draw();
                        }
                        table.columns.adjust().draw();
                    }
                    else {
                        alert(json.Message);
                    }
                }
            });
        }
        </script>
    }

