
@{
    ViewBag.Title = "Ordenes de Compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style id="compiled-css" type="text/css">
    /* Fix table head */
    .tableFixHead {
        overflow-y: auto;
        height: 420px;
    }

        .tableFixHead th {
            position: sticky;
            top: 0;
        }

    /* Just common table stuff. */
    table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        word-wrap: break-word;
    }

    th, td {
        padding: 8px 16px;
    }


    th {
        /*background: #1AB394;*/
        background: #D52B1E;
        color: #ffffff;
        font-weight: bold;
        text-align: center;
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading" style="padding-top:5px;padding-bottom:10px;">
    <div class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="fixed_header dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col col-xs-12 col col-md-12 col col-lg-12 text-center" ">
                    <h2>Ordenes de Compra</h2>
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-3 col col-md-3 col col-lg-3">
                    <input id="txtFiltro" class="form-control" type="search" placeholder="Search..">
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-6">
                    <div class="dt-buttons btn-group flex-wrap">
                        @*<button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="tblConsulta" type="button"><span>Copy</span></button>*@
                        <button class="btn btn-secondary buttons-csv buttons-html5" tabindex="0" aria-controls="tblConsulta" type="button"><span>CSV</span></button>
                        <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="tblConsulta" type="button"><span>Excel</span></button>
                    </div>
                </div>
                <div id="topRightSection" class="col-xs-12 col-md-6 text-right ">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="tableFixHead table-responsive m-t">
                        <table class="table invoice-table">
                            <thead>
                                <tr>
                                    <th style="text-align:center;">No. Consignación</th>
                                    <th style="text-align:center;">Tipo de Consignación</th>
                                    <th style="text-align:center;">Estatus del Pedido</th>
                                    <th style="text-align:center;">Estatus del la Consignación</th>
                                    <th style="text-align:center;">No. Proveedor</th>
                                    <th style="text-align:center;">Nombre Proveedor</th>
                                    <th style="text-align:center;">No. Almacén</th>
                                    <th style="text-align:center;">Nombre Almacen</th>
                                    <th style="text-align:center;">No. Orden Compra</th>
                                    <th style="text-align:center;">Importe</th>
                                    <th style="text-align:center;">Estatus Orden Compra</th>
                                    <th style="text-align:center;">Periodo Orden Compra</th>
                                    <th style="text-align:center;">Fecha del pedido</th>
                                    <th style="text-align:center;">Hora del pedido</th>
                                    <th style="text-align:center;">Fecha de recibo</th>
                                    <th style="text-align:center;">Hora de recibo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align:left;">834399522-3</td>
                                    <td style="text-align:left;">DSV</td>
                                    <td style="text-align:left;">Enviado</td>
                                    <td style="text-align:left;">Enviada</td>
                                    <td style="text-align:left;">14482</td>
                                    <td style="text-align:left;">Modermo</td>
                                    <td style="text-align:left;">1</td>
                                    <td style="text-align:left;">Villahermosa</td>
                                    <td style="text-align:left;"> <a onclick="popDetalle()" class="nav-link">834399522</a></td>
                                    <td style="text-align:left;">$2147.00</td>
                                    <td style="text-align:left;">Pagada</td>
                                    <td style="text-align:left;">--</td>
                                    <td style="text-align:left;">28/May/2021</td>
                                    <td style="text-align:left;">14:20:32</td>
                                    <td style="text-align:left;">--</td>
                                    <td style="text-align:left;">--</td>
                                </tr>
                                <tr>
                                    <td style="text-align:left;">834325726-2</td>
                                    <td style="text-align:left;">CEDIS</td>
                                    <td style="text-align:left;">Enviado</td>
                                    <td style="text-align:left;">Enviada</td>
                                    <td style="text-align:left;">5688</td>
                                    <td style="text-align:left;">Cedis México</td>
                                    <td style="text-align:left;">1</td>
                                    <td style="text-align:left;">Tultitlan</td>
                                    <td style="text-align:left;"> <a onclick="popDetalle()" class="nav-link">834325726</a></td>
                                    <td style="text-align:left;">$5109.80</td>
                                    <td style="text-align:left;">Pagada</td>
                                    <td style="text-align:left;">--</td>
                                    <td style="text-align:left;">29/May/2021</td>
                                    <td style="text-align:left;">10:15:03</td>
                                    <td style="text-align:left;">--</td>
                                    <td style="text-align:left;">--</td>
                                </tr>
                                <tr>
                                    <td style="text-align:left;">820898215-3</td>
                                    <td style="text-align:left;">DSV</td>
                                    <td style="text-align:left;">Enviado</td>
                                    <td style="text-align:left;">Enviada</td>
                                    <td style="text-align:left;">14482</td>
                                    <td style="text-align:left;">Modermo</td>
                                    <td style="text-align:left;">1</td>
                                    <td style="text-align:left;">Villahermosa</td>
                                    <td style="text-align:left;"> <a onclick="popDetalle()" class="nav-link">820898215</a></td>
                                    <td style="text-align:left;">$3135.24</td>
                                    <td style="text-align:left;">Pagada</td>
                                    <td style="text-align:left;">--</td>
                                    <td style="text-align:left;">27/May/2021</td>
                                    <td style="text-align:left;">16:09:45</td>
                                    <td style="text-align:left;">--</td>
                                    <td style="text-align:left;">--</td>
                                </tr>
                                <tr>
                                    <td style="text-align:left;">820898023-3</td>
                                    <td style="text-align:left;">DSV</td>
                                    <td style="text-align:left;">Por Enviar</td>
                                    <td style="text-align:left;">Por Enviar</td>
                                    <td style="text-align:left;">14482</td>
                                    <td style="text-align:left;">Modermo</td>
                                    <td style="text-align:left;">1</td>
                                    <td style="text-align:left;">Villahermosa</td>
                                    <td style="text-align:left;"> <a onclick="popDetalle()" class="nav-link">820898023</a></td>
                                    <td style="text-align:left;">$1123.00</td>
                                    <td style="text-align:left;">Por pagar</td>
                                    <td style="text-align:left;">--</td>
                                    <td style="text-align:left;">28/May/2021</td>
                                    <td style="text-align:left;">09:20:17</td>
                                    <td style="text-align:left;">--</td>
                                    <td style="text-align:left;">--</td>
                                </tr>
                                <tr>
                                    <td style="text-align:left;">820897616-2</td>
                                    <td style="text-align:left;">CEDIS</td>
                                    <td style="text-align:left;">Por Enviar</td>
                                    <td style="text-align:left;">Por Enviar</td>
                                    <td style="text-align:left;">5688</td>
                                    <td style="text-align:left;">Cedis México</td>
                                    <td style="text-align:left;">1</td>
                                    <td style="text-align:left;">Tultitlan</td>
                                    <td style="text-align:left;"> <a onclick="popDetalle()" class="nav-link">820897616</a></td>
                                    <td style="text-align:left;">$4584.55</td>
                                    <td style="text-align:left;">Por pagar</td>
                                    <td style="text-align:left;">--</td>
                                    <td style="text-align:left;">28/May/2021</td>
                                    <td style="text-align:left;">08:45:03</td>
                                    <td style="text-align:left;">--</td>
                                    <td style="text-align:left;">--</td>
                                </tr>
                            </tbody>
                        </table>
                        <button style="float: right;" type="button" class="btn btn-w-m btn-warning">Descargar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("DetalleOrden")
@section scripts {
    <script>
        $(document).ready(function () {
            $("#txtFiltro").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#tblOrdenes tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

        });

        function popDetalle() {
            $('#dlgDetalle').modal('toggle');
        }
    </script>
}

