@{
    ViewBag.Title = "Proceso Surtido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style id="compiled-css" type="text/css">
    /* Fix table head */
    .tableFixHead {
        overflow-y: auto;
        height: 300px;
    }

        .tableFixHead th {
            position: sticky;
            top: 0;
        }

    /* Just common table stuff. */
    table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        word-wrap: break-word;
    }

    th, td {
        padding: 8px 16px;
    }


    th {
        /*background: #1AB394;*/
        background: #D52B1E;
        color: #ffffff;
        font-weight: bold;
        text-align: center;
    }

    function seleccionar_todo() {
        for (i=0;i<document.f1.elements.length;i++) if(document.f1.elements[i].type == "checkbox") document.f1.elements[i].checked=1
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading" style="padding-top:5px;padding-bottom:10px;">
    <div class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="fixed_header dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col col-xs-12 col col-md-12 col col-lg-12 text-center" ">
                    <h2>Proceso de Surtido</h2>
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-12 col col-md-12 col col-lg-12 text-center" ">
                    <div class="alert alert-info">
                        097865387 - Nao Reyes Ro [exo.asb@gmail.com] - 10-mar-2021 23:32:00 -  $87.00 - Pago Autorizado
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-12 col col-md-12 col col-lg-12">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs" role="tablist">
                            <li><a class="nav-link active" data-toggle="tab" href="#tab-1">Aceptar Consignación</a></li>
                            <li><a class="nav-link" data-toggle="tab" href="#tab-2">Solicitud de Guía</a></li>                       
                            <li><a class="nav-link" data-toggle="tab" href="#tab-4">Descarga de Guías</a></li>                            
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="tableFixHead table-responsive m-t">
                                        <table id="tblAcepConsig" class="table invoice-table">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center;">ID</th>
                                                    <th style="text-align:center;">Descripción</th>
                                                    <th style="text-align:center;">Pzas Solicitadas para Envío</th>
                                                    <th style="text-align:center;">Tipo de Envio</th>
                                                    <th style="text-align:center;">Articulos a surtir</th>
                                                    <th style="text-align:center;">EAN/Codigo de Barras</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <div class="seleccionartodo">
                                                    <a href="javascript:seleccionar_todo()">Marcar todos</a>
                                                    <input type="checkbox" class="cbx" id="flexCheckDefault">
                                                </div>

                                                <tr>
                                                    <td style="text-align:center;">1123124</td>
                                                    <td style="text-align:left;">Calefactor</td>
                                                    <td style="text-align:center;">1</td>
                                                    <td style="text-align:left;">Paqueteria</td>
                                                    <td style="text-align:center;"><input type="checkbox" class="cbx" id="flexCheckDefault"></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;">1123124</td>
                                                    <td style="text-align:left;">Calefactor</td>
                                                    <td style="text-align:center;">1</td>
                                                    <td style="text-align:left;">Paqueteria</td>
                                                    <td style="text-align:center;"><input type="checkbox" class="cbx" id="flexCheckDefault"></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;">1123124</td>
                                                    <td style="text-align:left;">Calefactor</td>
                                                    <td style="text-align:center;">1</td>
                                                    <td style="text-align:left;">Paqueteria</td>
                                                    <td style="text-align:center;"><input type="checkbox" class="cbx" id="flexCheckDefault"></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;">1123124</td>
                                                    <td style="text-align:left;">Calefactor</td>
                                                    <td style="text-align:center;">1</td>
                                                    <td style="text-align:left;">Paqueteria</td>
                                                    <td style="text-align:center;"><input type="checkbox" class="cbx" id="flexCheckDefault"></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;">1123124</td>
                                                    <td style="text-align:left;">Calefactor</td>
                                                    <td style="text-align:center;">1</td>
                                                    <td style="text-align:left;">Paqueteria</td>
                                                    <td style="text-align:center;"><input type="checkbox" class="cbx" id="flexCheckDefault"></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;">1123124</td>
                                                    <td style="text-align:left;">Calefactor</td>
                                                    <td style="text-align:center;">1</td>
                                                    <td style="text-align:left;">Paqueteria</td>
                                                    <td style="text-align:center;"><input type="checkbox" class="cbx" id="flexCheckDefault"></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;">1123124</td>
                                                    <td style="text-align:left;">Calefactor</td>
                                                    <td style="text-align:center;">1</td>
                                                    <td style="text-align:left;">Paqueteria</td>
                                                    <td style="text-align:center;"><input type="checkbox" class="cbx" id="flexCheckDefault"></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;">1123124</td>
                                                    <td style="text-align:left;">Calefactor</td>
                                                    <td style="text-align:center;">1</td>
                                                    <td style="text-align:left;">Paqueteria</td>
                                                    <td style="text-align:center;"><input type="checkbox" class="cbx" id="flexCheckDefault"></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;">1123124</td>
                                                    <td style="text-align:left;">Calefactor</td>
                                                    <td style="text-align:center;">1</td>
                                                    <td style="text-align:left;">Paqueteria</td>
                                                    <td style="text-align:center;"><input type="checkbox" class="cbx" id="flexCheckDefault"></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;">1123124</td>
                                                    <td style="text-align:left;">Calefactor</td>
                                                    <td style="text-align:center;">1</td>
                                                    <td style="text-align:left;">Paqueteria</td>
                                                    <td style="text-align:center;"><input type="checkbox" class="cbx" id="flexCheckDefault"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <table>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>

                                                <td>
                                                    <button type="button" id="btnAceptConsig" class="btn btn-primary block full-width m-b" onclick="clickLogin()">
                                                        Aceptar Consignación
                                                    </button>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td> <input type="text" size="35" maxlength="50" value="Motivo de  Cancelacion " name=" Motivo de  Cancelacion"></td>
                                                <td></td>
                                                <td> <button type="button" id="btnCancelarConsig" class="btn btn-primary block full-width m-b" onclick="alert(" La siguiente consignación será cancelada por el siguiente motivo ")"> Cancelar  Consignación </button></td>












                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    @*<div class="row">
                                        <table>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>

                                                <td style="vertical-align:bottom;text-align:right">
                                                    <button type="button" id="btnAceptConsig" class="btn btn-primary block full-width" onclick="clickLogin()">
                                                        Guías Solicitadas
                                                    </button>
                                                </td>
                                                <td style="text-align:left;"><input type="text" class="form-control"></td>
                                            </tr>
                                        </table>
                                    </div>*@
                                    <div class="tableFixHead table-responsive m-t">
                                        <table id="tblSolicitutGuia" class="table invoice-table">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center;">EAN</th>
                                                    <th style="text-align:center;">Descripción</th>
                                                    <th style="text-align:center;">Piezas</th>
                                                    <th style="text-align:center;">Artículo en guía</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td style="text-align:center;">1123124</td>
                                                    <td style="text-align:left;">Calefactor</td>
                                                    <td style="text-align:center;">1</td>
                                                    <td style="text-align:center;"><input type="checkbox" class="cbx" id="flexCheckDefault"></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;">1123124</td>
                                                    <td style="text-align:left;">Calefactor</td>
                                                    <td style="text-align:center;">1</td>
                                                    <td style="text-align:center;"><input type="checkbox" class="cbx" id="flexCheckDefault"></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;">1123124</td>
                                                    <td style="text-align:left;">Calefactor</td>
                                                    <td style="text-align:center;">1</td>
                                                    <td style="text-align:center;"><input type="checkbox" class="cbx" id="flexCheckDefault"></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;">1123124</td>
                                                    <td style="text-align:left;">Calefactor</td>
                                                    <td style="text-align:center;">1</td>
                                                    <td style="text-align:center;"><input type="checkbox" class="cbx" id="flexCheckDefault"></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;">1123124</td>
                                                    <td style="text-align:left;">Calefactor</td>
                                                    <td style="text-align:center;">1</td>
                                                    <td style="text-align:center;"><input type="checkbox" class="cbx" id="flexCheckDefault"></td>
                                                </tr>
                                            </tbody>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <button type="button" id="btnAceptConsig" class="btn btn-primary block full-width m-b" onclick="clickLogin()">
                                                    Solicitar Guía
                                                </button>
                                            </td>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center;">No. de Guía</th>
                                                    <th style="text-align:center;">Alto (mts)</th>
                                                    <th style="text-align:center;">Largo (mts)</th>
                                                    <th style="text-align:center;">Ancho (mts)</th>
                                                    <th style="text-align:center;">Peso (kg)</th>
                                                    <th style="text-align:center;">Peso REAL</th>
                                                    <th style="text-align:center;">Tipo Envío</th>
                                                    <th style="text-align:center;">Total de artículos en guía</th>
                                                    <th>    </th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td>Guía 2</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>71 (en automático)</td>
                                                <td>Paquetería (en automático)</td>
                                                <td>ES LA SUMA EN AUTOMÁTICO DE LOS ARTÍCULOS SELECCIONADOS EN EL DETALLE</td>
                                                <td>
                                                    <button type="button" id="btnAceptConsig" class="btn btn-primary block full-width m-b" onclick="clickLogin()">
                                                        Confirmar solicitud de guía
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>                            
                            <div role="tabpanel" id="tab-4" class="tab-pane">
                                <div class="panel-body">
                                    <div class="tableFixHead table-responsive m-t">
                                        <table id="tblDescargaGuia" class="table invoice-table">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center;">No. Guía</th>
<<<<<<< Updated upstream
                                                    <th style="text-align:center;">ID</th>
                                                    <th style="text-align:center;">Descripción</th>
=======
                                                    <th style="text-align:center;">Peso Real</th>
                                                    <th style="text-align:center;">Tipo Envío</th>
>>>>>>> Stashed changes
                                                    <th> </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td style="text-align:center;">4562734567898230000000</td>
                                                    <td style="text-align:center;">1234567</td>
<<<<<<< Updated upstream
                                                    <td style="text-align:left;">Licon Caballero</td>
=======
                                                    <td style="text-align:left;">Paquetería</td>
>>>>>>> Stashed changes
                                                    <td><a href="" id="btnAceptConsig" class="btn btn-primary block full-width m-b" download="">Descargar Archivo</a> </td>
                                                    <td> <button type="button" id="btnAceptConsig" class="btn btn-primary block full-width m-b" onclick="clickLogin()">  Ver Detalles de Guia </button></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;">4562734567898230000000</td>
                                                    <td style="text-align:center;">1234567</td>
<<<<<<< Updated upstream
                                                    <td style="text-align:left;">Licon Caballero</td>
=======
                                                    <td style="text-align:left;">Paquetería</td>
>>>>>>> Stashed changes
                                                    <td><a href="" id="btnAceptConsig" class="btn btn-primary block full-width m-b" download="">Descargar Archivo</a> </td>
                                                    <td> <button type="button" id="btnAceptConsig" class="btn btn-primary block full-width m-b" onclick="clickLogin()">  Ver Detalles de Guia </button></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;">4562734567898230000000</td>
                                                    <td style="text-align:center;">1234567</td>
<<<<<<< Updated upstream
                                                    <td style="text-align:left;">Licon Caballero</td>
=======
                                                    <td style="text-align:left;">Paquetería</td>
>>>>>>> Stashed changes
                                                    <td><a href="" id="btnAceptConsig" class="btn btn-primary block full-width m-b" download="">Descargar Archivo</a> </td>
                                                    <td> <button type="button" id="btnAceptConsig" class="btn btn-primary block full-width m-b" onclick="clickLogin()">  Ver Detalles de Guia </button></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;">4562734567898230000000</td>
                                                    <td style="text-align:center;">1234567</td>
<<<<<<< Updated upstream
                                                    <td style="text-align:left;">Licon Caballero</td>
=======
                                                    <td style="text-align:left;">Paquetería</td>
>>>>>>> Stashed changes
                                                    <td><a href="" id="btnAceptConsig" class="btn btn-primary block full-width m-b" download="">Descargar Archivo</a> </td>
                                                    <td> <button type="button" id="btnAceptConsig" class="btn btn-primary block full-width m-b" onclick="clickLogin()">  Ver Detalles de Guia </button></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;">4562734567898230000000</td>
                                                    <td style="text-align:center;">1234567</td>
<<<<<<< Updated upstream
                                                    <td style="text-align:left;">Licon Caballero</td>
=======
                                                    <td style="text-align:left;">Paquetería</td>
>>>>>>> Stashed changes
                                                    <td><a href="" id="btnAceptConsig" class="btn btn-primary block full-width m-b" download="">Descargar Archivo</a> </td>
                                                    <td> <button type="button" id="btnAceptConsig" class="btn btn-primary block full-width m-b" onclick="clickLogin()">  Ver Detalles de Guia </button></td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align:center;">4562734567898230000000</td>
                                                    <td style="text-align:center;">1234567</td>
<<<<<<< Updated upstream
                                                    <td style="text-align:left;">Licon Caballero</td>
=======
                                                    <td style="text-align:left;">Paquetería</td>
>>>>>>> Stashed changes
                                                    <td> <a href="" id="btnAceptConsig" class="btn btn-primary block full-width m-b" download="">Descargar Archivo</a> </td>
                                                    <td> <button type="button" id="btnAceptConsig" class="btn btn-primary block full-width m-b" onclick="clickLogin()">  Ver Detalles de Guia </button></td>






                                                </tr>

                                            </tbody>


                                        </table>
                                    </div>
                                    <div class="row">
                                        <table>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @*<script>
            $(document).ready(function () {
                $("#txtFiltro").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#tblOrdenes tbody tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });

            });


        </script>*@
}